- panelData = local_data[:entry_data]
- index = local_data[:index]

.panel.e-bg-grad-brand-green.e-col-greyscale-0{
  id="panel-#{ index }"
}

  .panel__content.panel__content--narrow.e-align-cen
    h3.title-xl.e-mgn-b-md= panelData[:title]

    - if panelData.copy
      = markdown(panelData[:copy], 'byline')

  .panel__content.panel__content--narrow
    .grid.grid--xs
      - panelData[:accordians].each do |accordian|
        .grid__cell.grid__cell--fill.grid__cell--xs-above-sm-6
          = partial 'views/partials/accordian',
            locals: { local_data: \
              { accordian_data: accordian }}
