- panelData = local_data[:entry_data]
- bgc = panelData[:background_color]
- bgcClass = colorProfile(:greyscale).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true })

- callsToAction = panelData[:calls_to_action]

- title = panelData[:title]
- titleColor = "#{ colorProfile(:dark).include?(bgc) ? "e-col-greyscale-0" : "e-col-brand-green-2" }"
- hasTitle = panelData[:show_title] != nil

- copy = panelData[:copy]

- index = local_data[:index]

section.panel{
  id="panel-#{ index }"
  class="#{ bgcClass }"
}
  .panel__content.panel__content--narrow
    .panel__content.panel__content--narrow

      / Background image
      - if panelData[:image]
        .panel__bg-img
          img.b-lazy{
            src="#{ panelData[:image][:url] }?fm=jpg&w=800&q=2"
            data-src="#{ panelData[:image][:url] }?w=800"
            alt="#{ panelData[:image][:description] }"
          }

      .panel__text
        - if hasTitle
          h3.title-xl.e-align-cen.e-mgn-b-md{ class=titleColor }= title

        / - if copy
        p.strap-md.e-align-cen.e-mgn-b-sm= panelData[:copy]

      - if callsToAction
        .grid.grid--xs.grid--center
          - callsToAction.each do |cta|
            = partial "views/partials/ctas",
              locals: { local_data: {\
                entry_data: cta }}

