<%
panelData = local_data[:entry_data]
index = local_data[:index]

title = panelData[:title]
caption = panelData[:caption]
chartData = panelData[:chart_data]
chartOptions = panelData[:chart_options]
%>

<section
  id="panel-<%= index %>"
  class="panel e-bgc-white-2">

  <div class="panel__content panel__content--wide">
    <div class="chart">

      <header class="chart__header">
        <h2 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= title %></h2>
        <p class="e-fz-xs e-col-grey-3"><%= caption %></p>
      </header>

      <div class="chart__container">
        <canvas class="chart__canvas"></canvas>
      </div>
      <div class="chart__legend"></div>
      <script class="chart__template">
        {
          "type": "horizontalBar",
          "data": {
            "datasets": [
              {
                "label": "Affirmative procedure",
                "data": [40],
                "backgroundColor": "rebeccapurple",
                "fill": false
              },
              {
                "label": "Negative procedure",
                "data": [8],
                "backgroundColor": "tan",
                "fill": false
              }
            ]
          },
          "options": {
            "aspectRatio": 4,
            "scales": {
              "xAxes": [
                {
                  "stacked": true,
                  "scaleLabel": {
                    "labelString": "Number of SIs"
                  },
                  "ticks": {
                    "min": 0,
                    "max": 800,
                    "stepSize": 400
                  }
                }
              ],
              "yAxes": [
                {
                  "stacked": true
                }
              ]
            }
          }
        }
      </script>
    </div>
  </div>
</section>
