- panelData = local_data[:entry_data]
- bgc = panelData[:background_color]

- image = panelData[:image]
- imageSize = panelData[:image_size]
- imageInvert = panelData[:image_invert]
- isSmallImage = imageSize == "small"
- isMediumImage = imageSize == "medium"
- isLargeImage = imageSize == "large"

- title = panelData[:title]
- titleColor = "#{ colorProfile(:dark).include?(bgc) ? "e-col-greyscale-0" : "e-col-brand-green-2" }"
- hasTitle = panelData[:show_title] != nil

- copy = panelData[:copy]
- copySize = panelData[:copy_size]
- isCopyLg = copySize == "large"
- isCopyXl = copySize == "extra-large"

- showMoreCopy = panelData[:show_more]

- callsToAction = panelData[:calls_to_action]

- index = local_data[:index]

.panel{
  id="panel-#{ index }"
  class="#{ colorProfile(:greyscale).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true }) }"
}

  / Panel title
  - if hasTitle
    .panel__content.panel__content--narrow.e-hide-above-sm
      h3.title-xl.e-align-cen.e-mgn-b-xl{
        class=titleColor
      }= title

  .panel__content.panel__content--full
    .grid.grid--lg.grid--center

      / Image
      .grid__cell{
        class="grid__cell--#{
          isLargeImage ? "10" : (isMediumImage ? "8" : "6")
        }"
        class="grid__cell--above-sm-#{
          isLargeImage ? "5" : (isMediumImage ? "3" : "2")
        }"
      }
        = partial "views/partials/image",
          locals: { local_data: \
            { image_data: image,
              invert: imageInvert }}

      / Copy
      .grid__cell.grid__cell--above-sm-7

        / Panel title
        - if hasTitle
          h3.title-xl.e-mgn-b-md.e-hide-below-sm{
            class=titleColor
          }= title

        .copy{
          class="#{ "e-fz-lg" if isCopyXl }"
          class="#{ "e-fz-md" if isCopyLg }"
        }
          = markdown(copy) if copy

        - if showMoreCopy
          = partial "views/partials/expand",
            locals: { local_data: \
            { id: showMoreCopy.cta_id,
              content: showMoreCopy.content }}

        / Calls to action
        - if showMoreCopy || callsToAction
          .grid.grid--xs

            / Show more
            - if showMoreCopy
              .grid__cell
                = partial "views/partials/btn",
                  locals: { local_data: \
                    { type: "state",
                      size: "sm", style: "secondary",
                      label_on: "Show more", label_off: "Show less",
                      label_size: "sm",
                      aria_id: "activate-#{ showMoreCopy.cta_id }",
                      aria_target_id: showMoreCopy.cta_id }}

            - if callsToAction
              - callsToAction.each do |cta|
                .grid__cell

                  / Download
                  - if ["cta_download", "cta_page"].include? cta[:TYPE]
                    - isPage = cta[:TYPE] == "cta_page"
                    - isDownload = cta[:TYPE] == "cta_download"
                    - btnURL = isPage ? internalURL(cta[:page_slug]) : cta[:file].url
                    - btnSize = isCopyXl ? "lg" : (isCopyLg ? "md" : "sm")

                    = partial "views/partials/btn",
                      locals: { local_data: \
                        { type: "link",
                          size: btnSize, style: (isPage ? "secondary" : "primary"),
                          label: cta[:button_text],
                          label_size: btnSize,
                          url: btnURL }}

                  / Modal
                  - if cta.TYPE == "cta_modal"

                    / Modal button
                    = partial "views/partials/btn",
                      locals: { local_data: \
                        { type: "state",
                          size: "sm", style: "secondary",
                          label_on: cta[:button_text], label_off: "Close",
                          label_size: "sm",
                          page: "no-scroll", switch: true,
                          aria_id: "activate-#{ cta[:modal][:cta_id] }",
                          aria_target_id: cta[:modal][:cta_id],
                          iframe: ((cta[:modal][:content].include? "<iframe") ? true : false) }}

                    / Modal window
                    = partial "views/partials/modal",
                      locals: { local_data: \
                      { id: cta[:modal][:cta_id],
                        content: cta[:modal][:content],
                        size: cta[:modal][:width] }}
