- panelData = local_data[:entry_data]
- bgc = panelData[:background_color]
- title = panelData[:title]
- copy = panelData[:copy]
- callsToAction = panelData[:calls_to_action]
- index = local_data[:index]

.panel{
  id="panel-#{ index }"
  class="#{ colorProfile[:greyscale].include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true }) }"
}

  / Panel title
  .panel__content.panel__content--narrow
    h3.title-xxl.e-align-cen= title

  - if callsToAction
    .panel__content.panel__content--narrow
      .grid.grid--xs.grid--center
        - callsToAction.each do |cta|
          .grid__cell
            - if cta[:TYPE] == "cta_download"
              = partial "views/partials/btn",
                locals: { local_data: \
                  { type: "link",
                    size: "md", style: "primary",
                    label: cta[:button_text],
                    label_size: "md",
                    url: cta[:file].url }}
