- entryData = locals[:entry_data]

- isHomePage = entryData[:TYPE] == "home"
- isLandingPage = entryData[:TYPE] == "landing_page"
- category = isHomePage ? "projects" : entryData[:category]
- introduction = entryData[:introduction]
- color = catColor(category)

section.panel.e-col-greyscale-0{
  class="e-bg-grad-#{ color }"
}
  .panel__content.panel__content--medium.e-align-cen
    = markdown(introduction, "byline")
