<%
# panelData = local_data[:entry_data]
# searchID = panelData[:search_id]
%>

<section class="panel e-bgc-greyscale-1">
  <div class="panel__content panel__content--full">
    <h2 class="title-lg e-col-brand-green-2 e-align-cen e-mgn-b-sm">Search</h2>
    <div class="search">
      <div class="search__input JS-search-input JS-lazy"></div>
      <div class="search__filters JS-search-filters"></div>
      <div class="search__results JS-search-results"></div>
    </div>
  </div>
</section>
