<%
# panelData = local_data[:entry_data]
%>

<section class="panel panel--white">
  <div class="panel__content panel__content--medium">
    <h2 class="title-lg e-col-brand-green-1 e-align-cen e-mgn-b-sm">Search</h2>
    <div id="search-box"></div>
    <div id="hits"></div>
  </div>
</section>

