<%
# panelData = local_data[:entry_data]
# searchID = panelData[:search_id]
%>

<section class="panel e-bgc-white-2">
  <div class="panel__content panel__content--full">
    <h2 class="title-lg e-col-brand-green-2 e-align-cen e-mgn-b-md">Search</h2>
    <div class="search">
      <div class="search__box JS-lazy"></div>
      <div class="search__filters">
        <div class="search__filter-1"></div>
        <div class="search__filter-2"></div>
      </div>
      <div class="search__results"></div>
      <div class="search__clear"></div>
    </div>
  </div>
</section>
