////////////////////////////////////////////////////////////
//  Type - Config
////////////////////////////////////////////////////////////

$type: (
  line-height: 1.5,
  sizes: (
    base: 18px,
    xs:   .675rem,
    sm:   1rem,
    md:   1.25rem,
    lg:   1.5rem,
    xl:   1.75rem,
    xxl:  2.25rem
  ),
  primary: (
    light: (
      name:   'Avenir Light',
      weight: 200,
      style:  normal,
      file:   'AvenirLTStd-Light.otf'
    ),
    light-italic: (
      name:   'Avenir Light Oblique',
      weight: 200,
      style:  oblique,
      file:   'AvenirLTStd-LightOblique.otf'
    ),
    book: (
      name:   'Avenir Book',
      weight: 300,
      style:  normal,
      file:   'AvenirLTStd-Book.otf'
    ),
    book-italic: (
      name:   'Avenir Book Oblique',
      weight: 300,
      style:  oblique,
      file:   'AvenirLTStd-BookOblique.otf'
    ),
    medium: (
      name:   'Avenir Medium',
      weight: 500,
      style:  normal,
      file:   'AvenirLTStd-Medium.otf'
    ),
    medium-italic: (
      name:   'Avenir Medium Oblique',
      weight: 500,
      style:  oblique,
      file:   'AvenirLTStd-MediumOblique.otf'
    ),
    heavy: (
      name:   'Avenir Heavy',
      weight: 800,
      style:  normal,
      file:   'AvenirLTStd-Heavy.otf'
    ),
    heavy-italic: (
      name:   'Avenir Heavy Oblique',
      weight: 800,
      style:  oblique,
      file:   'AvenirLTStd-HeavyOblique.otf'
    )
  )
);

////////////////////////////////////////////////////////////
//	=Colors
////////////////////////////////////////////////////////////

$colors: (
  primary: (
    blue:          #236192,
    brown:         #8f3237,
    green:         #00685e,
    light-blue:    #6ba4b8,
    light-brown:   #ae8a79,
    light-green:   #80967a,
    orange:        #f57300,
  ),
  secondary: (
    current:       currentColor,
    dark-orange:   #dc6700,
    overlay-black: rgba(0, 0, 0, .6),
  ),
  greyscale: (
    white:         #fefefe,
    light-grey:    #e8e9ea,
    mid-grey:      #a4a7ab,
    grey:          #60666c,
    dark-grey:     #333a42,
    black:         #1d252d
  )
);

///////////////////////////////////////////////////////////
//  =Box model - Config
////////////////////////////////////////////////////////////

//  =Spacing
//////////////////////////////

$spacing: (
  xxs: .25rem,
  xs:  .5rem,
  sm:  1rem,
  md:  2rem,
  lg:  3rem,
  xl:  4rem
);

//  =Radii
//////////////////////////////

$radii: (
  slight: 2px,
  circ: 50%
);

///////////////////////////////////////////////////////////
//  =Button/ Icon - Config
////////////////////////////////////////////////////////////

$btn: (
  size: (
    xs: 1.125rem,
    sm: 1.75rem,
    md: 2.25rem,
    lg: 3rem,
    xl: 4rem
  ),
  text-width: (
    sm: 6rem,
    md: 8rem,
    lg: 10rem
  )
);

////////////////////////////////////////////////////////////
//  Media Queries - Config
////////////////////////////////////////////////////////////

$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

$orientations: (
  portrait:  portrait,
  landscape: landscape
);

///////////////////////////////////////////////////////////
//  =Motion
////////////////////////////////////////////////////////////

$easing: (
  core: (ease-out .25s)
);

// Transitions
$transition: (
  core:       (all map-get($easing, core)),
  transform:  (transform map-get($easing, core))
);

// Animations
$animate: (
  fade-in-load: (
    prop: opacity,
    start: 0,
    end: 1,
    easing: ease-out 1s
  ),
  fade-in-opaque: (
    prop: opacity,
    start: 0,
    end: .85,
    easing: map-get($easing, core)
  ),
  slide-up-in: (
    prop: transform,
    start: translateY(100vh),
    end: translateY(0),
    easing: map-get($easing, core)
  ),
  slide-up-in-center: (
    prop: transform,
    start: translate3d(-50%, 100vh, 0),
    end: translate3d(-50%, -50%, 0),
    easing: map-get($easing, core)
  )
);

///////////////////////////////////////////////////////////
//  =Properties
////////////////////////////////////////////////////////////

$properties: (
  axies:    (0, 50, 100),
  opacity:  (0, 1),
  origins:  (left, top, right, bottom),
  overflow: (auto, hidden, scroll),
  position: (relative, absolute, fixed),
);

///////////////////////////////////////////////////////////
//  =Shadow
////////////////////////////////////////////////////////////

$shadow: (
  box: (
    raised: (
      0 2px 2px 0 rgba(0, 0, 0, .14),
      0 1px 5px 0 rgba(0, 0, 0, .12),
      0 3px 1px -2px rgba(0, 0, 0, .2)
    )
  ),
  text: (
    raised: (
      0px 1px 1px rgba(0, 0, 0, 0.5)
    )
  )
);

