/*		=Paths
  ========================================================================== */

$path: (
  assets: "/assets",
  fonts: "/assets/fonts",
  css: "/assets/css",
  js: "/assets/js"
) !default;

@if ($env == "development") {
  $path: (
    assets: "/.assets",
    fonts: "/.assets/fonts",
    css: "/.assets/css",
    js: "/.assets/js"
  );
}

/*		=Numerals
  ========================================================================== */

$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

/*		=Type
  ========================================================================== */

$type: (
  line-height: 1.5,
  sizes: (
    base: 18px,
    xs: .675rem,
    sm: 1rem,
    md: 1.25rem,
    lg: 1.5rem,
    xl: 1.75rem,
    xxl: 2.25rem
  ),
  font-primary: (
    roman: (
      family: "AvenirLTStd-Roman"
    ),
    heavy: (
      family: "AvenirLTStd-Heavy"
    ),
    oblique: (
      family: "AvenirLTStd-Oblique"
    )
  )
);

/*		=Colours
  ========================================================================== */

$colors: (
  primary: (
    blue:          #236192,
    brown:         #8f3237,
    green:         #00685e,
    light-blue:    #6ba4b8,
    light-brown:   #ae8a79,
    light-green:   #80967a,
    orange:        #f57300,
  ),
  secondary: (
    current:       currentColor,
    dark-orange:   #dc6700,
    overlay-black: rgba(0, 0, 0, .6),
  ),
  greyscale: (
    white:         #fefefe,
    light-grey :   #eff0f0,
    mid-grey:      #a4a7ab,
    grey:          #60666c,
    dark-grey:     #333a42,
    black:         #1d252d
  )
);

$colorGroups: (
  brand-green: (
    1: #107A6F,
    2: #04655a,
    3: #004F47
  ),
  hot-pink: (
    1: #E84470,
    2: #df1b50,
    3: #B70535
  ),
  sea-green: (
    1: #C9DDDD,
    2: #97bbbb,
    3: #659595
  ),
  slate-blue: (
    1: #374452,
    2: #202c39,
    3: #142130
  ),
  purple: (
    1: #997796,
    2: #80557d,
    3: #6B3B67
  ),
  orange: (
    1: #FE755F,
    2: #e85037,
    3: #C82D15
  ),
  greyscale: (
    0: #FFFFFF,
    1: #F2F2F2,
    2: #A9A9A9,
    3: #171717
  )
);

/*		=Box model
  ========================================================================== */

$spacing: (
  xxs: .25rem,
  xs:  .5rem,
  sm:  1rem,
  md:  2rem,
  lg:  3rem,
  xl:  4rem
);

$radii: (
  slight: 4px,
  circ: 50%
);

/*		=Buttons/ icons
  ========================================================================== */

$btn: (
  size: (
    xs: 1.5rem,
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
    xl: 4rem
  ),
  text-width: (
    sm: 6rem,
    md: 8rem,
    lg: 10rem
  )
);

/*		=Media queries
  ========================================================================== */

$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);

$orientations: (
  portrait:  portrait,
  landscape: landscape
);

/*		=Motion
  ========================================================================== */

$easing: (
  core: (ease-out .25s)
);

$transition: (
  core: (all map-get($easing, core)),
  height: (height map-get($easing, core)),
  opacity: (opacity map-get($easing, core)),
  transform: (transform map-get($easing, core))
);

$animate: (
  fade-in-load: (
    prop: opacity,
    start: 0,
    end: 1,
    easing: ease-out 1s
  ),
  fade-in-opaque: (
    prop: opacity,
    start: 0,
    end: .85,
    easing: map-get($easing, core)
  ),
  slide-up-in: (
    prop: transform,
    start: translateY(100vh),
    end: translateY(0),
    easing: map-get($easing, core)
  ),
  slide-up-in-center: (
    prop: transform,
    start: translate3d(-50%, 100vh, 0),
    end: translate3d(-50%, -50%, 0),
    easing: map-get($easing, core)
  ),
  spin: (
    prop: transform,
    start: rotate(0deg),
    end: rotate(360deg),
    easing: ease-out 1s
  )
);

/*		=Properties
  ========================================================================== */

$properties: (
  axies:    (0, 50, 100),
  opacity:  (0, 1),
  origins:  (left, top, right, bottom),
  overflow: (auto, hidden, scroll),
  position: (relative, absolute, fixed),
);

/*		=Shadow
  ========================================================================== */

$shadow: (
  box: (
    z1: (
      0 1px 3px rgba(46, 61, 73, .2),
      0 1px 2px rgba(46, 61, 73, .2)
    ),
    z3: (
      0 1px 20px 0 rgba(46, 61, 73, .2),
      0 19px 38px 0 rgba(46, 61, 73, .2),
      0 15px 12px 0 rgba(46, 61, 73, .2)
    )
  ),
  text: (
    z1: (
      0px 1px 1px rgba(0, 0, 0, 0.5)
    )
  )
);

/*		=Fonts
  ========================================================================== */

$systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
