////////////////////////////////////////////////////////////
//  Colours
////////////////////////////////////////////////////////////

$primary_colors: (
  brand_orange:        #f57300,
  brand_black:         #1d252d,
  brand_blue:          #236192,
  brand_brown:         #8f3237,
  brand_green:         #00685e,
  brand_olive:         #ac9f3c,
  brand_white:         #fefefe,
  brand_light_brown:   #ae8a79,
  brand_light_green:   #80967a,
  brand_light_blue:    #6ba4b8,
  brand_dark_brown:    #572932,
);

$secondary_colors: (
  brand_black_1:       lighten(map-get($primary_colors, brand_black), 10%),
  brand_black_2:       lighten(map-get($primary_colors, brand_black), 20%),
  brand_black_3:       lighten(map-get($primary_colors, brand_black), 30%),
  brand_white_1:       darken(map-get($primary_colors, brand_white), 5%),
  brand_white_2:       darken(map-get($primary_colors, brand_white), 10%),
  brand_white_3:       darken(map-get($primary_colors, brand_white), 15%)
);

$colors:               map-merge($primary_colors, $secondary_colors);

$brand_black:          map-get($colors, brand_black);
$brand_orange:         map-get($colors, brand_orange);
$brand_blue:           map-get($colors, brand_blue);
$brand_brown:          map-get($colors, brand_brown);
$brand_green:          map-get($colors, brand_green);
$brand_olive:          map-get($colors, brand_olive);
$brand_white:          map-get($colors, brand_white);
$brand_light_brown:    map-get($colors, brand_light_brown);
$brand_light_green:    map-get($colors, brand_light_green);
$brand_light_blue:     map-get($colors, brand_light_blue);
$brand_dark_brown:     map-get($colors, brand_dark_brown);
$brand_black_1:        map-get($colors, brand_black_1);
$brand_black_2:        map-get($colors, brand_black_2);
$brand_black_3:        map-get($colors, brand_black_3);
$brand_white_1:        map-get($colors, brand_white_1);
$brand_white_2:        map-get($colors, brand_white_2);
$brand_white_3:        map-get($colors, brand_white_3);

$box_shadow: (
  prime_black:         0 0 20px 6px rgba(#000, .25),
  brand_green:         0 0 10px 3px rgba(#000, .3333)
);

////////////////////////////////////////////////////////////
//  Site Categories
////////////////////////////////////////////////////////////

$categories: (
  about:               $brand_green,
  blog:                $brand_light_brown,
  intelligence:        $brand_light_blue,
  research:            $brand_green,
  resources:           brand_light_green
);

////////////////////////////////////////////////////////////
//  Transitions
////////////////////////////////////////////////////////////

$transition_all:       all ease .1s;
$transition_base:      ease-out .25s;

// cubic-bezier(0.175, 0.885, 0.32, 1.275)

////////////////////////////////////////////////////////////
//  Fonts
////////////////////////////////////////////////////////////

$fonts: (
  main: (
    Avenir: (
      300: (
        normal: 'AvenirLTStd-Light.otf',
        italic: 'AvenirLTStd-LightOblique.otf'
      ),
      400: (
        normal: 'AvenirLTStd-Book.otf',
        italic: 'AvenirLTStd-BookOblique.otf'
      ),
      700: (
        normal: 'AvenirLTStd-Heavy.otf',
        italic: 'AvenirLTStd-HeavyOblique.otf'
      )
    )
  )
);

$font_sizes: (
  xsmall:   .875rem,
  small:    1rem,
  byline:   1.25rem,
  medium:   1.5rem,
  large:    2rem,
  xlarge:   2.25rem
);

////////////////////////////////////////////////////////////
//  Media Queries
////////////////////////////////////////////////////////////

$breakpoints: (
  'xsmall': 480px,
  'small': 600px,
  'medium': 960px,
  'large': 1280px,
  'xlarge': 1920px
);

$orientations: (
  'portrait': portrait,
  'landscape': landscape
);
