////////////////////////////////////////////////////////////
//  Colours
////////////////////////////////////////////////////////////

$brand_accent:        #f57300;
$brand_black:         #1d252d;
$brand_blue:          #236192;
$brand_brown:         #8f3237;
$brand_green:         #00685e;
$brand_olive:         #ac9f3c;
$brand_white:         #fefefe;

$brand_light_brown:   #ae8a79;
$brand_light_green:   #80967a;
$brand_light_blue:    #6ba4b8;

$brand_dark_brown:    #572932;

$brand_black_1:       lighten($brand_black, 5%);
$brand_black_2:       lighten($brand_black, 15%);
$brand_black_3:       lighten($brand_black, 5%);

////////////////////////////////////////////////////////////
//  Transitions
////////////////////////////////////////////////////////////

$transition_all:      all ease .1s;
$transition_base:     cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;

////////////////////////////////////////////////////////////
//  Breakpoints
////////////////////////////////////////////////////////////

$breakpoints: (
  'xsmall': 0,
  'small': 600px,
  'medium': 960px,
  'large': 1280px,
  'xlarge': 1920px
);
