.bundle/
build/
data/
node_modules/
.sass-cache/
.tmp/
source/.assets/**
!source/.assets/fonts
!source/.assets/images

.DS_Store
.env
source/.headers
source/.redirects
.hs-space-hash
npm-debug.log
source/assets/rev-manifest.json
yarn-error.log
package-lock.json
