// Core
@import './config';

// Components (core - maintain order)
@import './silent/display';
@import './silent/positioning';
@import './silent/width-height';
@import './silent/overflow';

// Components (dependent/ non-dependent)
@import './silent/animations';
@import './silent/box-model';
@import './silent/colors';
@import './silent/container';
@import './silent/cursor';
@import './silent/hidden';
@import './silent/opacity';
@import './silent/overlay';
@import './silent/pseudo-elem';
@import './silent/shadow';
@import './silent/transitions';
@import './silent/type';
@import './silent/z-index';
@import './silent/grid-flow';

// Active
@import './active/box-model';



////////////////////////////////////////////////////////////
//  Colors
////////////////////////////////////////////////////////////

.u-col-white { color: $brand_white !important; }

.u-bgc-white      { @extend %E-bgc-brand-white; }
.u-bgc-blue { background-color: $brand_blue !important; }

////////////////////////////////////////////////////////////
//  Type
////////////////////////////////////////////////////////////

.u-align-center {
  @extend %E-text-align-center;
}

.u-font-sm {
  font-size: 1rem;
}

////////////////////////////////////////////////////////////
//  Box model
////////////////////////////////////////////////////////////

.u-mtop-xs { @extend %E-margin-top-xsmall; }
.u-mtop-sm { @extend %E-margin-top-small; }
.u-mtop-md { @extend %E-margin-top-medium; }

.u-ptop-sm { padding-top: 1rem; }
.u-ptop-md { padding-top: 2rem; }

.u-vr-xs { @extend %E-vertical-rhythm-small; }
.u-vr-sm { @extend %E-vertical-rhythm-small; }

.u-accb-grey {
  border-bottom: 2px solid $brand_white_2;
}

.u-bold {
  font-weight: bold;
}
