///////////////////////////////////////////////////////////
//  =Box model
////////////////////////////////////////////////////////////

@each $sizeKey, $sizeVal in $spacing {

  $sides: (
    x: (top, bottom),
    y: (left, right),
    t: top,
    b: bottom,
    l: left,
    r: right
  );

  %E-mgn-#{ $sizeKey },
  .E-mgn-#{ $sizeKey } {
    margin: $sizeVal;
  }

  %E-pad-#{ $sizeKey },
  .E-pad-#{ $sizeKey } {
    padding: $sizeVal;
  }

  @each $sideKey, $sideVal in $sides {

    // Margin
    %E-mgn-#{ $sideKey }-#{ $sizeKey },
    .E-mgn-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        margin-#{ $side }: $sizeVal;
      }
    }

    // Negative margin
    %E-mgn-neg-#{ $sideKey }-#{ $sizeKey },
    .E-mgn-neg-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        margin-#{ $side }: -$sizeVal;
      }
    }

    // Padding
    %E-pad-#{ $sideKey }-#{ $sizeKey },
    .E-pad-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        padding-#{ $side }: $sizeVal;
      }
    }
  }
}

%E-mgn-auto-x,
.E-mgn-auto-x {
  margin-left: auto;
  margin-right: auto;
}

@each $screen in map-keys($breakpoints) {
  @include above($screen) {

    %E-mgn-auto-x__#{ $screen },
    .E-mgn-auto-x__#{ $screen } {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//  =Borders
//////////////////////////////

// Accents
@each $name, $color in map-merge(map-get($colors, primary), map-get($colors, secondary)) {
  @each $side in map-get($properties, origins) {

    %E-acc-#{ $name }-#{ $side },
    .E-acc-#{ $name }-#{ $side } {
      border-#{ $side }: 4px solid $color;
    }
  }
}

//  =Radii
//////////////////////////////

@each $radKey, $radVal in $radii {

  %E-rad-#{ $radKey } {
    border-radius: $radVal;
  }
}


//  =Shadow
//////////////////////////////

@each $shadowKey, $shadowVal in map-get($shadow, box) {
  %E-box-shad-#{ $shadowKey } {
    box-shadow: $shadowVal;
  }
}
