/*		=Margins and padding
  ========================================================================== */

@each $sizeKey, $sizeVal in $spacing {

  $sides: (
    x: (top, bottom),
    y: (left, right),
    t: top,
    b: bottom,
    l: left,
    r: right
  );

  // Margin
  %e-mgn-#{ $sizeKey },
  .e-mgn-#{ $sizeKey } {
    margin: $sizeVal;
  }

  // Padding
  %e-pad-#{ $sizeKey },
  .e-pad-#{ $sizeKey } {
    padding: $sizeVal;
  }

  // Screens
  @each $screen in map-keys($breakpoints) {
    @include above($screen) {

      // Margin
      %e-mgn-#{ $sizeKey }__#{ $screen },
      .e-mgn-#{ $sizeKey }__#{ $screen } {
        margin: $sizeVal;
      }

      // Padding
      %e-pad-#{ $sizeKey }__#{ $screen },
      .e-pad-#{ $sizeKey }__#{ $screen } {
        padding: $sizeVal;
      }
    }
  }


  // Sides
  @each $sideKey, $sideVal in $sides {

    // Margin
    %e-mgn-#{ $sideKey }-#{ $sizeKey },
    .e-mgn-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        margin-#{ $side }: $sizeVal;
      }
    }

    // Negative margin
    %e-mgn-neg-#{ $sideKey }-#{ $sizeKey },
    .e-mgn-neg-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        margin-#{ $side }: -$sizeVal;
      }
    }

    // Padding
    %e-pad-#{ $sideKey }-#{ $sizeKey },
    .e-pad-#{ $sideKey }-#{ $sizeKey } {
      @each $side in $sideVal {
        padding-#{ $side }: $sizeVal;
      }
    }

    // Screens
    @each $screen in map-keys($breakpoints) {
      @include above($screen) {

        // Margin
        %e-mgn-#{ $sideKey }-#{ $sizeKey }__#{ $screen },
        .e-mgn-#{ $sideKey }-#{ $sizeKey }__#{ $screen } {
          @each $side in $sideVal {
            margin-#{ $side }: $sizeVal;
          }
        }

        // Negative margin
        %e-mgn-neg-#{ $sideKey }-#{ $sizeKey }__#{ $screen },
        .e-mgn-neg-#{ $sideKey }-#{ $sizeKey }__#{ $screen } {
          @each $side in $sideVal {
            margin-#{ $side }: -$sizeVal;
          }
        }

        // Padding
        %e-pad-#{ $sideKey }-#{ $sizeKey }__#{ $screen },
        .e-pad-#{ $sideKey }-#{ $sizeKey }__#{ $screen } {
          @each $side in $sideVal {
            padding-#{ $side }: $sizeVal;
          }
        }
      }
    }
  }
}

%e-mgn-auto-x,
.e-mgn-auto-x {
  margin-left: auto;
  margin-right: auto;
}

@each $screen in map-keys($breakpoints) {
  @include above($screen) {

    %e-mgn-auto-x__#{ $screen },
    .e-mgn-auto-x__#{ $screen } {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*		=Accents
  ========================================================================== */

@each $colorName, $colorShades in $colorGroups {
  @each $shadeNum, $shadeHex in $colorShades {
    @each $side in map-get($properties, origins) {

      %e-acc-#{ $colorName }-#{ $shadeNum }-#{ $side },
      .e-acc-#{ $colorName }-#{ $shadeNum }-#{ $side } {
        border-#{ $side }: .5rem solid $shadeHex;
      }
    }
  }
}

/*		=Radii
  ========================================================================== */

@each $radKey, $radVal in $radii {

  %e-rad-#{ $radKey } {
    border-radius: $radVal;
  }
}

/*		=Shadow
  ========================================================================== */

@each $shadowKey, $shadowVal in map-get($shadow, box) {
  %e-box-shad-#{ $shadowKey } {
    box-shadow: $shadowVal;
  }
}
