@each $name, $color in Merge(
  map-get($colors, primary),
  map-get($colors, secondary),
  map-get($colors, greyscale)) {

  // Colors
  .e-col-#{ $name },
  %e-col-#{ $name } {
    color: $color;
  }

  // Background colors
  .e-bgc-#{ $name },
  %e-bgc-#{ $name } {
    background-color: $color;
  }
}

@each $colorName, $colorShades in $colorGroups {
  @each $shadeNum, $shadeHex in $colorShades {

    %e-col-#{ $colorName }-#{ $shadeNum },
    .e-col-#{ $colorName }-#{ $shadeNum } {
      color: $shadeHex;
    }

    %e-bgc-#{ $colorName }-#{ $shadeNum },
    .e-bgc-#{ $colorName }-#{ $shadeNum } {
      background-color: $shadeHex;
    }
  }
}
