%e-container,
%e-container--narrow,
%e-container--mid,
%e-container--wide {
  @extend %e-width-full;
}

%e-container {
  @extend %e-pad-y-xs;

  @include above(xs) {
    @extend %e-pad-y-sm__xs;
  }
}

%e-container--narrow { max-width: 35rem; }
%e-container--mid    { max-width: 45rem; }
%e-container--wide   { max-width: 65rem; }
