%e-container,
%e-container--narrow,
%e-container--medium,
%e-container--wide,
%e-container--full {
  @extend %e-width-full;
}

%e-container {
  @extend %e-pad-y-sm;
}

%e-container,
%e-container--extra-narrow,
%e-container--narrow,
%e-container--medium,
%e-container--wide,
%e-container--full {
  @extend %e-max-width-full;
}

%e-container--extra-narrow {
  width: 25rem;
}

%e-container--narrow {
  width: 35rem;
}

%e-container--medium {
  width: 45rem;
}

%e-container--wide {
  width: 55rem;
}

%e-container--full {
  width: 75rem;
}

%e-container--full-bleed {
  min-width: 100vw;
  max-width: 100vw;
}
