%e-container,
%e-container--narrow,
%e-container--medium,
%e-container--wide,
%e-container--full {
  @extend %e-width-full;
}

%e-container {
  @extend %e-pad-y-sm;
  // padding-left: .75rem;
  // padding-right: .75rem;

  // @include above(xs) {
  //   @extend %e-pad-y-sm__xs;
  // }
}

%e-container--narrow { max-width: 35rem; }
%e-container--medium { max-width: 45rem; }
%e-container--wide { max-width: 52rem; }
%e-container--full { max-width: 65rem; }
