////////////////////////////////////////////////////////////
//  =Display
////////////////////////////////////////////////////////////

$display: none, inline, block, inline-block, flex, inline-flex;


//  =Display
//////////////////////////////

@each $property in $display {

  // Display base
  %E-display-#{ $property } {
    display: $property;
  }

  // Display breakpoints
  @each $screen in map-keys($breakpoints) {
    @include above($screen) {

      %E-display-#{ $property }__#{ $screen } {
        display: $property;
      }
    }
  }
}

//  =Flex
//////////////////////////////

// Options:
// E-flex-row
// E-flex-row-start
// E-flex-row-center
// E-flex-row-nowrap
// E-flex-row-nowrap-start
// E-flex-inline-row
// E-flex-inline-row-center

%E-flex-row,
%E-flex-row-nowrap,
%E-flex-row-nowrap-start {
  @extend %E-display-flex;
}

%E-flex-inline-row {
  @extend %E-display-inline-flex;
}

%E-flex-row,
%E-flex-inline-row {
  flex-flow: row wrap;
}

%E-flex-row-nowrap,
%E-flex-row-nowrap-start {
  flex-flow: row nowrap;
}

%E-flex-row-start,
%E-flex-row-center {
  @extend %E-flex-row;
}

%E-flex-inline-row-center {
  @extend %E-flex-inline-row;
}

%E-flex-row-start,
%E-flex-row-nowrap-start {
  align-items: flex-start;
}

%E-flex-row-center,
%E-flex-inline-row-center {
  align-items: center;
}
