$display: none, inline, block, inline-block, flex, inline-flex, table;


/*		=Display core
  ========================================================================== */

@each $property in $display {

  // Display base
  %e-display-#{ $property } {
    display: $property;
  }

  // Display breakpoints
  @each $screen in map-keys($breakpoints) {
    @include above($screen) {

      %e-display-#{ $property }__#{ $screen } {
        display: $property;
      }
    }
  }
}

/*		=Flex
  ========================================================================== */

%e-flex-row,
%e-flex-row-nowrap,
%e-flex-row-nowrap-start,
%e-flex-col {
  @extend %e-display-flex;
}

%e-flex-inline-row {
  @extend %e-display-inline-flex;
}

/***  =Row  ***/

%e-flex-row,
%e-flex-inline-row {
  flex-flow: row wrap;
}

%e-flex-row-nowrap,
%e-flex-row-nowrap-start {
  flex-flow: row nowrap;
}

%e-flex-row-start,
%e-flex-row-center {
  @extend %e-flex-row;
}

%e-flex-inline-row-center {
  @extend %e-flex-inline-row;
}

%e-flex-row-start,
%e-flex-row-nowrap-start {
  align-items: flex-start;
}

%e-flex-row-center,
%e-flex-inline-row-center {
  align-items: center;
}

/***  =Column  ***/

%e-flex-col {
  flex-direction: column;
}
