///////////////////////////////////////////////////////////
//  =Grid flow
////////////////////////////////////////////////////////////

@each $gutterKey, $gutterVal in $spacing {

  .E-flow-#{ $gutterKey } {
    @extend %E-mgn-neg-l-#{ $gutterKey };

    & > * {
      @extend %E-mgn-l-#{ $gutterKey };
    }
  }
}

//////////////////////////////////////////////////

%E-grid-flow--xs {
  margin-top: -.4rem;
  margin-left: -.4rem;
}

%E-grid-flow__item--xs {
  margin-top: .4rem;
  margin-left: .4rem;
}

