%e-hidden,
.e-hidden {
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;

  word-wrap: normal;

  @extend %e-position-absolute;
  @extend %e-overflow-hidden;
}

@each $breakpointKey, $breakpointVal in $breakpoints {
  @include above($breakpointKey) {
    .e-hide-above-#{ $breakpointKey } {
      display: none;
    }
  }
}
