%e-hidden,
.e-hidden,
.e-zzz {
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;

  word-wrap: normal;

  position: absolute !important;
  @extend %e-overflow-hidden;
}

.e-hidden {
  margin-top: -4rem; // enable scroll offset
}

@each $breakpointKey, $breakpointVal in $breakpoints {
  @include above($breakpointKey) {
    .e-hide-above-#{ $breakpointKey } {
      display: none;
    }
  }
}

@each $breakpointKey, $breakpointVal in $breakpoints {
  @include below($breakpointKey) {
    .e-hide-below-#{ $breakpointKey } {
      display: none;
    }
  }
}
