///////////////////////////////////////////////////////////
//  =Motion - Config
////////////////////////////////////////////////////////////

%E-trans-core {
  transition: map-get($transition, core);
}






///////////////////////////////////////////////////////////
//  =Transitions
////////////////////////////////////////////////////////////

%E-transition-base-all       { transition: all ease .2s; }
%E-transition-base-transform { transition: transform ease .2s; }

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {

    %E-transition-base-all__#{ $screen }       { transition: all ease .2s; }
    %E-transition-base-transform__#{ $screen } { transition: transform ease .2s; }
  }
}


///////////////////////////////////////////////////////////
//  =Animations
////////////////////////////////////////////////////////////

%E-animate-fadein {
  animation: FadeIn ease .2s;
}

%E-animate-slide-up-in-center {
  animation: SlideUpInCenter ease .2s;
}
