///////////////////////////////////////////////////////////
//  =Motion - Config
////////////////////////////////////////////////////////////

//  =Transitions
//////////////////////////////

@each $transKey, $transVal in $transition {

  %e-trans-#{ $transKey } {
    transition: $transVal;
  }

  @each $screen in map-keys($breakpoints) {

    @include above($screen) {
      %e-trans-#{ $transKey }__#{ $screen } {
        transition: $transVal;
      }
    }
  }
}

%e-fix-webkit-blur {
  -webkit-backface-visibility: hidden;
}

//  =Animations
//////////////////////////////

@each $animationKey, $animationVal in $animate {

  @keyframes #{ $animationKey } {
    0% {
      #{ map-get($animationVal, prop) }: map-get($animationVal, start);
    }
    100% {
      #{ map-get($animationVal, prop) }: map-get($animationVal, end);
    }
  }

  %e-animate-#{ $animationKey } {
    animation: $animationKey map-get($animationVal, easing)
  }
}
