////////////////////////////////////////////////////////////
//  =Positioning
////////////////////////////////////////////////////////////

// All position placeholders

@each $position in map-get($properties, position) {

  // Base positioning

  %e-position-#{ $position } { position: #{ $position } }

  @each $screen in map-keys($breakpoints) {
    @include above('#{ $screen }') {

      %e-position-#{ $position }__#{ $screen } {
        position: #{ $position }
      }
    }
  }

  // x/y axies positioning

  @each $origin in map-get($properties, origins) {

    @each $axis in map-get($properties, axies) {

      %e-position-#{ $position }-#{ $origin }-#{ $axis } {
        #{ $origin }: #{ $axis + '%' };
        @extend %e-position-#{ $position };
      }
    }

    @each $screen in map-keys($breakpoints) {
      @include above('#{ $screen }') {
        @each $axis in map-get($properties, axies) {

          %e-position-#{ $position }-#{ $origin }-#{ $axis }__#{ $screen } {
            #{ $origin }: #{ $axis + '%' };
            @extend %e-position-#{ $position }__#{ $screen };
          }
        }
      }
    }
  }
}

// Position absolute top-left placeholders only

@each $axis in map-get($properties, axies) {

  %e-position-absolute-#{ $axis } {
    top: #{ $axis + '%' }; left: #{ $axis + '%' };
    @extend %e-position-absolute;
  }

  @each $screen in map-keys($breakpoints) {
    @include above('#{ $screen }') {

      %e-position-absolute-#{ $axis }__#{ $screen } {
        top: #{ $axis + '%' }; left: #{ $axis + '%' };
        @extend %e-position-absolute__#{ $screen };
      }
    }
  }
}

// Position absolute center

%e-absolute-center-x,
%e-absolute-center-xy {
  @extend %e-position-absolute-left-50;
}

%e-absolute-center-y,
%e-absolute-center-xy {
  @extend %e-position-absolute-top-50;
}

%e-absolute-center-x  { transform: translateX(-50%); }
%e-absolute-center-y  { transform: translateY(-50%); }
%e-absolute-center-xy { transform: translate(-50%, -50%); }

// Position absolute center breakpoints

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {

    %e-absolute-center-x__#{ $screen },
    %e-absolute-center-xy__#{ $screen } {
      @extend %e-position-absolute-left-50__#{ $screen };
    }

    %e-absolute-center-y__#{ $screen },
    %e-absolute-center-xy__#{ $screen } {
      @extend %e-position-absolute-top-50__#{ $screen };
    }

    %e-absolute-center-x__#{ $screen }  { transform: translateX(-50%); }
    %e-absolute-center-y__#{ $screen }  { transform: translateY(-50%); }
    %e-absolute-center-xy__#{ $screen } { transform: translate(-50%, -50%); }
  }
}
