/*		=Font family
  ========================================================================== */

@each $fontKey, $fontVal in map-get($type, font-primary) {
  .e-ff-prim-#{ $fontKey },
  %e-ff-prim-#{ $fontKey } {
    font-family: map-get($fontVal, family), sans-serif;
    font-weight: map-get($fontVal, weight) !important;
  }
}

%e-ff-system {
  font-family: $systemFont;
}

/*		=Font size
  ========================================================================== */

@each $sizeKey, $sizeVal in map-get($type, sizes) {
  %e-fz-#{ $sizeKey },
  .e-fz-#{ $sizeKey } {
    font-size: $sizeVal;
  }
}

/*		=Misc
  ========================================================================== */

%e-upper { text-transform: uppercase; }
%e-lower { text-transform: lowercase; }

%e-align-cen,
.e-align-cen { text-align: center; }

%e-align-left,
.e-align-left { text-align: left; }

%e-txt-shad-slight {
  text-shadow: Get($shadow, text, z2);
}

%e-hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

// Vertical align fix for Chrome mobile
.e-va-fix {
  vertical-align: text-top;
  // display: contents;

  @include below(md) {
    // vertical-align: -webkit-baseline-middle;
  }
}
