/*		=Font family
  ========================================================================== */

@each $fontKey, $fontVal in map-get($type, font-primary) {
  %e-ff-prim-#{ $fontKey } {
    font-family: map-get($fontVal, family), Arial, Helvetica, sans-serif;
    font-weight: map-get($fontVal, weight);
    font-style: map-get($fontVal, style)
  }
}

%e-ff-prim-roman-bold {
  @extend %e-ff-prim-black;
}

%e-ff-system {
  font-family: $systemFont;
}

/*		=Font size
  ========================================================================== */

@each $sizeKey, $sizeVal in map-get($type, sizes) {
  %e-fz-#{ $sizeKey },
  .e-fz-#{ $sizeKey } {
    font-size: $sizeVal;
  }
}

/*		=Misc
  ========================================================================== */

%e-upper { text-transform: uppercase; }
%e-lower { text-transform: lowercase; }

%e-align-cen,
.e-align-cen { text-align: center; }

%e-align-left,
.e-align-left { text-align: left; }

%e-txt-shad-slight {
  text-shadow: Get($shadow, text, z1);
}
