///////////////////////////////////////////////////////////
//  =Type
////////////////////////////////////////////////////////////

//  =Font family
//////////////////////////////

@each $fontKey, $fontVal in map-get($type, primary) {
  %e-ff-prim-#{ $fontKey } {
    font-family: map-get($fontVal, name);
    font-weight: map-get($fontVal, weight);
    font-style: map-get($fontVal, style)
  }
}

//  =Font size
//////////////////////////////

@each $sizeKey, $sizeVal in map-get($type, sizes) {
  %e-fz-#{ $sizeKey },
  .e-fz-#{ $sizeKey } {
    font-size: $sizeVal;
  }
}

//  =Misc
//////////////////////////////

%e-upper { text-transform: uppercase; }
%e-lower { text-transform: lowercase; }

%e-align-cen,
.e-align-cen { text-align: center; }

.e-txt-shad-slight {
  text-shadow: Get($shadow, text, raised);
}
