////////////////////////////////////////////////////////////
//  =Width/ Height
////////////////////////////////////////////////////////////

%e-width-full         { width: 100%; }
%e-width-full-vw      { width: 100vw; }
%e-height-full        { height: 100%; }
%e-height-full-vh     { height: 100vh; }
%e-max-width-full     { max-width: 100%; }
%e-max-width-full-vw  { max-width: 100vw; }
%e-max-height-full    { max-height: 100%; }
%e-max-height-full-vh { max-height: 100vh; }
