////////////////////////////////////////////////////////////
//  =Width/ Height
////////////////////////////////////////////////////////////

%E-width-full         { width: 100%; }
%E-width-full-vw      { width: 100vw; }
%E-height-full        { height: 100%; }
%E-height-full-vh     { height: 100vh; }
%E-max-width-full     { max-width: 100%; }
%E-max-width-full-vw  { max-width: 100vw; }
%E-max-height-full    { max-height: 100%; }
%E-max-height-full-vh { max-height: 100vh; }
