header.banner{
  class="banner--#{
    entry.TYPE == 'landing_page' ?
    'full' : 'square'
  }"
}

  / Content wrapper
  .banner__inner{
    class="#{ 'banner__inner--overlap' if entry.TYPE == 'child_page' }"
  }

    / Content
    .banner__content{
      class="#{ 'banner__content--center' if entry.TYPE == 'landing_page' }"
    }

      / Title
      h1.title.title--white{
        class="#{ entry.title.size > 90 ? 'title--medium' :
                  (entry.TYPE == 'landing_page' ? 'title--xlarge' : 'title--large') }"
      }= entry.title

      p.subtitle= entry.subtitle

      / Landing page only
      - if entry.TYPE == 'landing_page'

        / Actions
        .banner__actions

          - entry.actions.each do |action|

            / Download
            = partial 'partials/btn',
              locals: { local_data: \
                { type: 'link', size: 'medium', style: 'primary',
                  text: action.text, text_size: 'medium', url: action.file.url }}

  / Scroll down
  - if entry.TYPE == 'landing_page'
    a.banner__scroll{
      href="#banner-scroll-target"
      data-scroll
    }
      = partial 'partials/icon',
        locals: \
        { icon: 'arrow-down',
          color: 'orange',
          size: 'medium' }

  / Image
  .banner__image
    picture

      / Landscape
      source{
        media="(orientation: landscape)"
        sizes="100vw"
        srcset="#{ entry.banner_image.url }?w=640 640w,
                #{ entry.banner_image.url }?w=854 854w,
                #{ entry.banner_image.url }?w=1280 1280w,
                #{ entry.banner_image.url }?w=1920 1920w"
      }

      / Portrait
      source{
        media="(orientation: portrait)"
        sizes="100vw"
        srcset="#{ entry.banner_image.url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=360&h=640' :
                   'fit=fill&w=360&h=360'
                }&f=#{ entry.banner_image.focus } 360w,
                #{ entry.banner_image.url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=720&h=1280' :
                   'fit=fill&w=720&h=720'
                }&f=#{ entry.banner_image.focus } 720w,
                #{ entry.banner_image.url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=1080&h=1440' :
                   'fit=fill&w=1080&h=1080'
                }&f=#{ entry.banner_image.focus } 1080w"
      }

      / Fallback
      img{
        srcset="#{ entry.banner_image.url }"
        alt="#{ entry.banner_image.alt }"
      }
