header.banner{
  class="banner--#{
    ([ 'landing_page', 'root_page', 'home' ].include? entry.TYPE) ?
    'full' : 'semi'
  }"
}

  / Content wrapper
  .banner__inner{
    class="#{ 'banner__inner--overlap' if entry.TYPE == 'child_page' }"
  }

    / Content
    .banner__content {
      class="#{ 'E-mgn-auto-x__sm' if ([ 'landing_page', 'root_page', 'home' ].include? entry.TYPE) }"
    }

      / Date (blog only)
      - if entry.TYPE == 'child_page' && entry[:category] == 'blog'
        span.subtitle-xs= entry[:date_time].date

      / Title
      h1{
        class="#{ ([ 'landing_page', 'root_page', 'home' ].include? entry.TYPE) \
                    ? 'title-xl' \
                    : 'title-lg' }"
      }= entry.title

      - if [ 'landing_page', 'root_page', 'home' ].include? entry.TYPE
        p.banner__byline.title-by= entry[:subtitle]

      / Actions
      - if entry.TYPE == 'landing_page' && entry[:calls_to_action] != nil
        .grid.grid--xs.grid--above-sm-center.E-mgn-t-sm
          - entry[:calls_to_action].each do |cta|
            .grid__cell

              / Download
              - if cta[:action] == 'download'
                = partial 'partials/btn',
                  locals: { local_data: \
                    { type: 'link', size: 'md', style: 'primary',
                      label: cta.button_text, label_size: 'lg', url: cta[:file].url }}

              / Modal
              - if cta[:action] == 'modal'

                / Modal button
                = partial 'partials/btn',
                  locals: { local_data: \
                    { type: 'state',
                      size: 'lg',
                      style: 'secondary',
                      label_on: cta[:button_text], label_off: 'Close',
                      label_size: 'lg',
                      page: 'no-scroll', exclusive: true,
                      aria_id: "activate-#{  cta.modal[:cta_id] }",
                      aria_target_id: cta.modal[:cta_id] }}

  / Modal content (here to avoid banner__inner transform cascade)
  - if entry.TYPE == 'landing_page' && entry[:calls_to_action] != nil
    - entry[:calls_to_action].each do |cta|
      - if cta[:action] == 'modal'
        = partial 'partials/modal',
          locals: { local_data: \
          { id: cta.modal[:cta_id],
            content: cta.modal[:content] }}

  / Image
  .banner__image{
    class="#{ 'banner__image--' + entry[:banner_image].focus }"
  }
    picture

      / Landscape
      source{
        media="(orientation: landscape)"
        sizes="100vw"
        srcset="#{ entry[:banner_image].url }?w=640 640w,
                #{ entry[:banner_image].url }?w=854 854w,
                #{ entry[:banner_image].url }?w=1280 1280w,
                #{ entry[:banner_image].url }?w=1920 1920w"
      }

      / Portrait
      source{
        media="(orientation: portrait)"
        sizes="100vw"
        srcset="#{ entry[:banner_image].url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=360&h=640' :
                   'fit=fill&w=360&h=360'
                }&f=#{ entry[:banner_image].focus } 360w,
                #{ entry[:banner_image].url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=720&h=1280' :
                   'fit=fill&w=720&h=720'
                }&f=#{ entry[:banner_image].focus } 720w,
                #{ entry[:banner_image].url }?#{
                   entry == 'landing_page' ?
                   'fit=fill&w=1080&h=1440' :
                   'fit=fill&w=1080&h=1080'
                }&f=#{ entry[:banner_image].focus } 1080w"
      }

      / Fallback
      img{
        srcset="#{ entry[:banner_image].url }?f=#{ entry[:banner_image].focus }"
        alt="#{ entry[:banner_image].alt }"
      }

  / Scroll down
  - if [ 'landing_page', 'root_page', 'home' ].include? entry.TYPE
    a.banner__scroll.E-col-orange{
      href="#banner-scroll-target"
      data-scroll
    }
      = partial 'partials/icon',
        locals: \
        { icon: 'ios-arrow-thin-down',
          size: 'lg' }
