button.button{
  class="#{ 'button--' + type if type != nil }\
         #{ 'button--' + size }\
         js-trigger-#{ state[:scope] }\
         #{ 'js-state-exclusive' if state[:excl] }"

  data-state-action="#{ state[:action].parameterize }"

  *{ "#{ 'data-state-page' if state[:page] }": "#{ state[:page] if state[:page] }" }

  aria-controls="#{ state[:aria_target_id].parameterize }"
  role="button"
  id="#{ state[:aria_id].parameterize }"
}

  - if icon != nil && icon[:image] == 'menu'
    span{
      aria-hidden="true"
      class="button__#{ icon[:image] }"
    }

  - else
    span.button__content{
      aria-hidden="true"
      class="#{ 'button__content--' + animation if animation != nil }"
    }

      / Icon
      - if icon != nil
        = partial 'partials/icon',
          locals: \
          { icon: icon[:image],
            color: icon[:color],
            size: icon[:size] }

      - if text != nil
        span.button__text.button__text--change{
          class="#{ 'button__text--' + size }"
          data-on-content="#{ text[:on] }"
          data-off-content="#{ text[:off] }"
        }
