a.button{
  class="#{ 'button--' + type }\
         #{ 'button--' + size }"

  href="#{ url }"
}
  span.button__content{
    aria-hidden="true"
  }

    span.button__text{
      class="#{ 'button__text--' + size }"
    }= text
