////////////////////////////////////////////////////////////
//  Variables
////////////////////////////////////////////////////////////

- @date_data      = local_data[:date_data]

////////////////////////////////////////////////////////////
//  Date
////////////////////////////////////////////////////////////

.date
  p= @date_data[:integer]
