a.logo(href="/")

  - data.hs.__GLOBAL__(0).each do |id, __GLOBAL__|

    img.logo__image.logo__image--mobile(
      alt="#{ __GLOBAL__.logo_mobile.description }"
      src="#{ __GLOBAL__.logo_mobile.url }"
    )

    img.logo__image.logo__image--desktop(
      alt="#{ __GLOBAL__.logo_desktop.description }"
      src="#{ __GLOBAL__.logo_desktop.url }"
    )
