a.logo(href="/")

  - data.hs.universal(0).each do |id, site|

    img.logo__image.logo__image--mobile(
      alt="#{ site.logo.mobile.description }"
      src="#{ site.logo.mobile.url }"
    )

    img.logo__image.logo__image--desktop(
      alt="#{ site.logo.desktop.description }"
      src="#{ site.logo.desktop.url }"
    )
