- @data = contentful

.menu{
  class="menu--#{ screen }"
  id="menu-#{
    screen == 'mobile' ?
    'mobile' :
    'desktop-' + @data.title.parameterize
  }"
}

  ul.menu__container{
    class="#{ 'menu__container--columns' if screen == 'desktop' }"
  }

    ////////////////////////////////////////////////////////
    // Mobile
    ////////////////////////////////////////////////////////

    - if screen == 'mobile'
      - data.hs.navigation.each do |id, navigation|
        li.menu__category.menu__category--outer{
          class="#{ 'dropdown js-local-state' if navigation.pages.length > 1 }"
        }

          h2.title.title--medium.title--white{
            class="#{ 'dropdown__title' if navigation.pages.length > 1 }"
          }

            / If navigation item contains one or no pages
            - if navigation.pages.length <= 1
              - navigation.pages.each do |page|
                a{
                  href="#{ @@site_url }/#{ page.slug }"
                  title="#{ navigation.title } - #{ @@site_title }"
                }= navigation.title

            / If navigation item contains more than one page
            - if navigation.pages.length > 1
              = navigation.title

              .dropdown__control

                / dropdown control
                = partial 'partials/button-state',
                  locals: \
                  { type:            nil,
                    icon:            'chevron-down',
                    color:           'white',
                    size:            'medium',
                    text:            nil,
                    animation:       'rotate',
                    aria_id:         "menu-dropdown-#{ navigation.title }-button",
                    aria_target_id:  "menu-dropdown-#{ navigation.title }-content",
                    state:            { scope: 'local',
                                        action:   'open',
                                        page:  nil,
                                        excl:  false }}

          ul{
            class="#{ 'dropdown__content' if navigation.pages }"
            id="menu-dropdown-#{ navigation.title.downcase }-content"
          }

            / Group pages by category
            - navigation.pages.group_by(&:category).each do |category, pages|
              li.menu__category{ class="menu__category--#{ category.downcase }" }
                h3.alt-title= category if navigation.title != category
                ul

                  - pages.each do |page|
                    li
                      h4.title.title--small.title--white
                        a.menu__link{
                          href="https://www.hansardsociety.org.uk/#{
                            page.category.parameterize + '/' +
                            page.slug
                          }"
                        }= page.title

    ////////////////////////////////////////////////////////
    // Desktop
    ////////////////////////////////////////////////////////

    - if screen == 'desktop'
      - @data.pages.group_by(&:category).each do |category, pages|
        li.menu__column{
          class="menu__column--#{ category.parameterize }"
        }
          h3.alt-title= category

          - pages.each do |page|
            h4.title.title--small.title--white
              a.menu__link{
                href="https://www.hansardsociety.org.uk/#{
                  page.category.parameterize + '/' +
                  page.slug
                }"
              }= page.title
