.profile
  .profile__image
    img{
      src="#{ photo.url }?fit=fill&w=324&h=324"
      alt="#{ photo.alt }"
    }

  .profile__main
    h1.title.title--small= full_name
    p.alt-title= "#{ organisation != nil ? role + ',' : role }"
    p.alt-title= organisation

    .profile__actions

      / Biog modal button
      = partial 'partials/button',
        :locals => { :type => 'secondary',
                     :icon => nil,
                     :color => 'white',
                     :size => 'small',
                     :text => 'Open biog',
                     :animation => nil,
                     :aria_id => 'something',
                     :aria_target_id => 'something',
                     :js_change_state => 'something',
                     :scope => 'global',
                     :exclusive => true }

      / Social follow
      = partial 'partials/social',
        :locals => { :icons => [ email, twitter, linkedin ] }
