.profile.js-state-local.modal-is.js-off
  .profile__image
    img{
      src="#{ photo.url }?fit=fill&w=324&h=324"
      alt="#{ photo.alt }"
    }

  .profile__main
    h1.title.title--small= full_name
    p.alt-title= "#{ organisation != nil ? role + ',' : role }"
    p.alt-title= organisation

  .profile__actions


    / Biog modal button
    = partial 'partials/button-state',
      locals: \
      { type: 'secondary',
        size: 'small',
        icon: nil,
        text: \
        { on: 'Open biog',
          off: 'Close' },
        animation: nil,
        state: \
        { scope: 'local',
          action: 'js-on',
          page: 'js-page-overlay',
          aria_id: "#{ full_name.parameterize }-biog-button",
          aria_target_id: "modal-biog-#{ full_name.parameterize }",
          excl: true }}

    / Social follow
    = partial 'partials/social',
      locals: { icons: [ email, twitter, linkedin ] }

    - if biog
      = partial 'partials/modal',
        locals: \
        { title: full_name,
          content: biog }
