////////////////////////////////////////////////////////////
//  Variables
////////////////////////////////////////////////////////////

- @registration_data    = local_data[:registration_data]

- @embed_code           = @registration_data[:embed_code]

////////////////////////////////////////////////////////////
//  Registration
////////////////////////////////////////////////////////////
.embed-code
  = Kramdown::Document.new(@embed_code).to_html
