- @copy_size = local_data[:copy_size]

h2.title-lg.e-mgn-b-sm Join our newsletter
p.e-mgn-b-sm{ class="strap-#{ @copy_size }" }= siteData(:newsletter_text)
= partial 'partials/btn',
  locals: { local_data: \
    { type: 'state', switch: true,
      size: 'lg', style: 'secondary',
      label_on: 'Subscribe now', label_off: 'Close', label_size: 'lg',
      page: 'no-scroll',
      aria_id: 'activate-modal-monthly-newsletter-subscription',
      aria_target_id: 'modal-monthly-newsletter-subscription' }}
