- @entry = entry_data
- blogCount = @entry[:blog_count]
- category = @entry[:category]
- copy = @entry[:copy]
- introduction = @entry[:introduction]
- featured = @entry[:featured]

- isMainCategories = siteCategories(:top_main).include? category
- isReverseHeaderCats = ["blog", "events"].include? category
- isBlogPage = category == "blog"

- nonPages = ["people", "product", "registration"]

article

  / Banner
  = partial "views/partials/banner/main",
    locals: { local_data: { \
      entry_data: @entry }}

  .content.content--wide.content--paper.e-mgn-b-lg{
    class="e-acc-#{ catColor(category) }-2-top"
  }

    / Page intro/ featured item
    .content__header
      .grid.grid--md.grid--center
        section.grid__cell.grid__cell--md-above-md-7.grid__cell--fill.copy{
          class="#{ "grid__cell--order-2 grid__cell--above-md-order-1" if isReverseHeaderCats }"
        }
          = markdown(introduction, "byline")

        / Featured side content
        aside.grid__cell.grid__cell--md-above-md-5.grid__cell--fill{
          class="#{ "grid__cell--order-1 grid__cell--above-md-order-2" if isReverseHeaderCats }"
        }

          / Entry has featured content...
          - if featured

            - if isBlogPage
              - featured.map do |featured|
                - if featured[:TYPE] == "people"
                  = partial "views/partials/profile",
                    locals: { local_data: \
                    { profile_data: featured,
                      side: true }}

            - else
              - featured.first(1).map do |featured|
                = partial "views/partials/side-card",
                  locals: { local_data: \
                    { side_card_data: featured,
                      featured: true }}

    / Main content
    .content__section
      .grid.grid--md.grid--center
        .grid__cell.grid__cell--md-above-md-7.grid__cell--expand.grid__cell--fill.JS-inactive.copy#expand
          = markdown(copy)

          / Expand button
          .grid__expand-btn
            = partial "views/partials/btn",
              locals: { local_data: \
                { type: "state", size: "md", style: "secondary", fill: true,
                  label_on: "Show more", label_off: "Show less", label_size: "lg",
                  aria_id: "activate-expand", aria_target_id: "expand" }}

        / Side content
        aside.grid__cell.grid__cell--md-above-md-5.grid__cell--fill

          / Side cards
          - if isMainCategories

            / If blog, add all non-author featured content to sidebar
            - if isBlogPage
              - featured.reject{ |featured| featured[:TYPE] == "people" }.each_with_index do |featured, index|

                = partial "views/partials/side-card",
                  locals: { local_data: \
                    { side_card_data: featured,
                      featured: true }}

            / If not blog, add all featured items to the sidebar except
            / the first, which is featured alongside the intro text.
            - elsif featured && featured.length > 1
              - featured.drop(1).map do |featuredItem|
                - if !nonPages.include? featuredItem[:TYPE]
                  = partial "views/partials/side-card",
                    locals: { local_data: \
                      { side_card_data: featuredItem,
                        featured: true }}

            / All tagged/ related content
            - if @entry[:tags]
              h2.side-title Related
              - relatedContent(@entry, blogCount) do |page|
                = partial "views/partials/side-card",
                  locals: { local_data: \
                    { side_card_data: page }}

            / External links
            - if @entry[:external_links]
              .section-sm
                h2.side-title Coverage
                - @entry[:external_links].map do |link|
                  = partial "views/partials/ext-link",
                    locals: { local_data: \
                      { ext_link_data: link }}

          / Latest items for about pages
          - if category == "about"
            h2.side-title Latest
            - latestContent(yield: true, num: 4) do |page|
              = partial "views/partials/side-card",
                locals: { local_data: \
                  { side_card_data: page }}

          / Newsletter signup
          .box.e-bgc-brand-green-1.e-col-greyscale-0.e-mgn-b-xs
            = partial "views/partials/signup-box",
              locals: { local_data: \
                { copy_size: "sm",
                  id: "modal-monthly-newsletter-subscription-side-bar" }}
