///////////////////////////////////////////////////////////
//  =Box model
////////////////////////////////////////////////////////////

//  =Margins
//////////////////////////////

// Base

%E-margin-0          { margin: 0 }
%E-margin-top-xs { margin-top: .5rem; }
%E-margin-top-sm  { margin-top: 1rem; }
%E-margin-top-md { margin-top: 2rem; }

// Center

%E-margin-center-x {
  margin-left: auto;
  margin-right: auto;
}

// Center @ screen

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {

    %E-margin-center-x__#{ $screen } {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//  =Padding
//////////////////////////////

// All

%E-pad-xs { padding: .5rem; }
%E-pad-sm  { padding: 1rem; }
%E-pad-md { padding: 2rem; }
%E-pad-lg  { padding: 3rem; }

// Vertical (Y)

%E-pad-y-xs { padding: .5rem 0; }
%E-pad-y-sm  { padding: 1rem 0; }
%E-pad-y-md { padding: 2rem 0; }
%E-pad-y-lg  { padding: 3rem 0; }

// Horizontal (X)

%E-pad-x-xs { padding: 0 .5rem; }
%E-pad-x-sm  { padding: 0 1rem; }
%E-pad-x-md { padding: 0 2rem; }
%E-pad-x-lg  { padding: 0 3rem; }

// Sides

%E-pad-top-sm  { padding-top: 1rem; }
%E-pad-top-md { padding-top: 2rem; }

//  =Borders
//////////////////////////////

// Accents

@each $name, $color in map-get($colors, primary) {
  @each $side in map-get($properties, origins) {

    %E-accent-md-#{ $name }-#{ $side } {
      border-#{ $side }: 4px solid map-get($colors, $name);
    }

    %E-accent-lg-#{ $name }-#{ $side } {
      border-#{ $side }: 6px solid map-get($colors, $name);
    }
  }
}

// Border radius

%E-border-radius-sm { border-radius: 2px; }
