///////////////////////////////////////////////////////////
//  =Colors
////////////////////////////////////////////////////////////

@each $name, $color in map-get($colors, brand) {

  // Colors
  %E-col-brand-#{ $color } {
    color: $color;
  }

  // Background colors
  %E-bgc-#{ $color } {
    background-color: $color;
  }
}







///////////////////////////////////////////////////////////////////////////
@each $name, $color in $colors {

  // Colors
  %E-color-#{ str-replace($name, '_', '-') } {
    color: map-get($colors, $name);
  }

  // BGCs
  %E-bgc-#{ str-replace($name, '_', '-') } {
    background-color: map-get($colors, $name);
  }
}
