///////////////////////////////////////////////////////////
//  =Grid flow
////////////////////////////////////////////////////////////

%E-grid-flow--xs {
  margin-top: -.4rem;
  margin-left: -.4rem;
}

%E-grid-flow__item--xs {
  margin-top: .4rem;
  margin-left: .4rem;
}
