///////////////////////////////////////////////////////////
//  =Hidden
////////////////////////////////////////////////////////////

%E-hidden {
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;

  word-wrap: normal;

  @extend %E-position-absolute;
  @extend %E-overflow-hidden;
}
