///////////////////////////////////////////////////////////
//  =Transitions
////////////////////////////////////////////////////////////

%E-transition-base-all       { transition: all ease .2s; }
%E-transition-base-transform { transition: transform ease .2s; }

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {

    %E-transition-base-all__#{ $screen }       { transition: all ease .2s; }
    %E-transition-base-transform__#{ $screen } { transition: transform ease .2s; }
  }
}
