.accordian,
.accordian__title {
  @extend %u-position-relative;
}

.accordian__control {
  right: 0;

  @extend %u-cursor-pointer;
  @extend %u-absolute-center-y;
}

.accordian__content {
  height: 0;

  @extend %u-overflow-hidden;
}

.accordian.js-open {
  .accordian__content {
    height: inherit;

    @extend %u-overflow-auto;
  }
}
