.accordian {

  @extend %e-bgc-light-grey;
  @extend %e-overflow-hidden;
  @extend %e-rad-slight;
}

.accordian__expand {
  max-height: 0;

  transition: max-height 200ms ease;

}

.accordian__header,
.accordian__content {
  padding: .5rem 1rem;
}

.accordian__header {
  @extend %e-position-relative;
}

.accordian__control {
  right: .5rem;

  @extend %e-absolute-center-y;
}

////////////////////////////////////////////////////////////
//  Behaviour
/////////////////////////////////////////////////////////////

.accordian__expand.JS-active {
  max-height: 20rem;
}
