////////////////////////////////////////////////////////////
//  Fade
////////////////////////////////////////////////////////////

@keyframes FadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes FadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes FadeInSkin {
  0%   { opacity: 0; }
  100% { opacity: .85; }
}

@keyframes fadeInOut {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes FadeOutIn {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

////////////////////////////////////////////////////////////
//  Slide
////////////////////////////////////////////////////////////

@keyframes SlideUpIn {
  0%   { transform: translateY(100vh); }
  100% { transform: translateY(0); }
}

@keyframes SlideUpInCenter {
  0%   { transform: translate3d(-50%, 100vh, 0); }
  100% { transform: translate3d(-50%, -50%, 0); }
}
