.banner {
  @extend
    %u-position-relative,
    %u-width-full;
}

.banner--full {
  height: 100vh;
}

.banner--square {
  height: 66.6666vh;
}

.banner__inner {
  @extend
    %u-absolute-center-xy,
    %u-padding-small,
    %u-container-wide;
}

.banner__inner--overlap {

  // Ensure overlap content remains above .content
  top: 100%;
  transform: translate(-50%, -100%);
}

.banner__content {

  @extend
    %u-color-brand-white,
    %u-container-narrow,
    %u-position-relative;
}

.banner__content--center {
  text-align: center;

  @extend %u-margin-center-x;
}

.banner__actions {
  @extend %u-margin-top-medium;
}

.banner__image {
  @extend
    %u-height-full-vh,
    %u-overflow-hidden,
    %u-overlay-medium,
    %u-position-absolute-0,
    %u-zidx-neg;
}

.banner__image img {
  min-height: 100%;

  filter: contrast(.75);
}

.banner__scroll {
  bottom: 2rem;

  @extend %u-absolute-center-x;
}
