.banner {
  @extend
    %u-position-relative,
    %u-width-full;
}

.banner--square {
  height: 66.6666vh;
}

.banner__inner {
  @extend
    %u-absolute-center-xy,
    %u-container-small,
    %u-row;
}

.banner__inner--overlap {

  // Ensure overlap content remains above .content
  top: 100%;
  transform: translate(-50%, -100%);

  @include above('small') {
    font-size: 2rem;
  }
}

.banner__content {

  @extend
    %u-content-main,
    %u-position-relative;
}

.banner__image {
  @extend
    %u-height-full-vh,
    %u-overflow-hidden,
    %u-overlay,
    %u-position-absolute-0,
    %u-zindex-negative;
}

.banner__image img {
  min-height: 100%;

  filter: contrast(.5);
}
