////////////////////////////////////////////////////////////
//  Button - Component
////////////////////////////////////////////////////////////

//  =Shared
//////////////////////////////

.btn__content,
.btn__icon,
.btn__text {
  @extend %E-display-block;
}

//  =Main
//////////////////////////////

.btn {
  @extend %E-cursor-pointer;
  @extend %E-flex-inline-row-center;
  @extend %E-overflow-hidden;
  @extend %E-position-relative;
  @extend %E-rad-slight;
  @extend %E-text-align-center;
  @extend  %E-trans-core;
}

@each $sizeKey, $sizeVal in map-get($btn, size) {
  .btn--#{ $sizeKey } {
    height: $sizeVal;
    min-width: $sizeVal;
  }
}

.btn--fill {
  @extend %E-width-full;
}

.btn--primary {
  @extend %E-bgc-orange;
  @extend %E-col-white;

  &:active,
  &:hover {
    @extend %E-bgc-dark-orange;
  }
}

.btn--secondary {
  border: 2px solid currentColor;

  @extend %E-col-orange;

  &:active,
  &:hover {
    @extend %E-bgc-orange;
    @extend %E-col-white;
  }
}

.btn__content {
  @extend %E-mgn-auto-x;
  @extend %E-width-full;
}

.btn__text {
  font-size: .625rem;

  @extend %E-upper;
}

.btn__text--change {

  &::before,
  &::after {
    text-align: center;

    @extend %E-display-block;
    @extend %E-position-relative;
    @extend  %E-trans-transform;
    @extend %E-width-full;
  }

  &::before {
    content: attr(data-on-text);
    transform: translateY(0);
  }

  &::after {
    left: 0;

    content: attr(data-off-text);
    transform: translateY(150%);

    @extend %E-position-absolute;
  }
}

//  =Button menu
//////////////////////////////

.btn__menu,
.btn__menu::before,
.btn__menu::after {
  left: 0;

  width: 1.5rem;
  height: 2px;

  @extend %E-bgc-white;
  @extend %E-position-absolute;
  @extend %E-trans-core;
}

.btn__menu {
  &::before,
  &::after {
    content: '';
  }

  &::before {
    transform: translateY(-.5rem);
  }

  &::after {
    transform: translateY(.5rem);
  }
}


////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.btn.JS-on {
  .btn__menu {
    background-color: transparent;

    &::before,
    &::after {
      transform: translate(0);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .btn__icon--rotate {
    transform: rotate(180deg);
  }
}
