////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

.btn {
  @extend
    %E-border-radius-sm,
    %E-cursor-pointer,
    %E-flex-inline-row-center,
    %E-overflow-hidden,
    %E-position-relative,
    %E-text-align-center,
    %E-transition-base-all;
}

.btn--group {
  @extend %E-grid-flow__item--xs;
}

.btn--xs {
  height: 1.5rem;
  min-width: 1.5rem;
}

.btn--sm {
  height: 2rem;
  min-width: 2rem;
}

.btn--md {
  height: 3rem;
  min-width: 3rem;
}

.btn--fill {
  @extend %E-width-full;
}

.btn--primary {
  @extend
    %E-bgc-orange,
    %E-col-white;

  &:active {
    // @extend %E-bgc-orange-1;
  }

  @include above('lg') {
    &:hover {
      // background-color: $brand_orange_1;
    }
  }
}

.btn--secondary {
  // border: 2px solid $brand_orange;

  @extend %E-col-orange;

  &:active {
    @extend
      %E-bgc-orange,
      %E-col-white;
  }

  @include above('lg') {
    &:hover {
      // color: $brand_white;
      // background-color: $brand_orange;
    }
  }
}

.btn__content {
  @extend
    %E-display-block,
    %E-margin-center-x,
    %E-width-full;
}

.btn__text {
  text-transform: uppercase;
  font-size: .625rem;

  @extend
    %E-display-block,
    %E-font-avenir-700-normal;
}

.btn__text--sm {
  min-width: 7rem;
  padding: 0 .5rem;

  @extend %E-font-size-xs;
}

.btn__text--md {
  min-width: 12rem;
  padding: 0 1rem;

  @extend %E-font-size-sm;
}

.btn__text--change {

  &::before,
  &::after {
    text-align: center;

    @extend
      %E-display-block,
      %E-position-relative,
      %E-transition-base-transform,
      %E-width-full;
  }

  &::before {
    content: attr(data-on-text);
    transform: translateY(0);
  }

  &::after {
    left: 0;

    content: attr(data-off-text);
    transform: translateY(150%);

    @extend %E-position-absolute;
  }
}

.btn.js-on {
  .btn__text {
    &::before {
      transform: translateY(-200%);
    }
    &::after {
      transform: translateY(-100%);
    }
  }
}

// Menu
.btn__menu,
.btn__menu::before,
.btn__menu::after {
  left: 0;

  width: 1.5rem;
  height: 2px;

  transition: all ease .2s;

  @extend
    %E-bgc-white,
    %E-position-absolute;
}

.btn__menu {
  &::before,
  &::after {
    content: '';
  }

  &::before {
    transform: translateY(-.5rem);
  }

  &::after {
    transform: translateY(.5rem);
  }
}


////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.btn.JS-on {
  .btn__menu {
    background-color: transparent;

    &::before,
    &::after {
      transform: translate(0);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .btn__content--rotate {
    transform: rotate(180deg);
  }
}
