////////////////////////////////////////////////////////////
//  Shared
////////////////////////////////////////////////////////////

// .btn,
// .btn__menu,
// .btn__menu::before,
// .btn__menu::after {
//   vertical-align: middle;
// }

////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

.btn {
  @extend
    %u-border-radius-small,
    %u-cursor-pointer,
    %u-flex-inline-row-center,
    %u-overflow-hidden,
    %u-position-relative,
    %u-text-align-center,
    %u-transition-base-all;
}

.btn--group {
  @extend %u-grid-flow__item--xsmall;
}

.btn--xsmall {
  height: 1.5rem;
  min-width: 1.5rem;
}

.btn--small {
  height: 2rem;
  min-width: 2rem;
}

.btn--medium {
  height: 3rem;
  min-width: 3rem;
}

.btn--fill {
  @extend %u-width-full;
}

.btn--primary {
  @extend
    %u-bgc-brand-orange,
    %u-color-brand-white;

  &:active {
    @extend %u-bgc-brand-orange-1;
  }

  @include above('large') {
    &:hover {
      background-color: $brand_orange_1;
    }
  }
}

.btn--secondary {
  border: 2px solid $brand_orange;

  @extend %u-color-brand-orange;

  &:active {
    @extend
      %u-bgc-brand-orange,
      %u-color-brand-white;
  }

  @include above('large') {
    &:hover {
      color: $brand_white;
      background-color: $brand_orange;
    }
  }
}

.btn__content {
  @extend
    %u-display-block,
    %u-margin-center-x,
    %u-width-full;
}

.btn__text {
  text-transform: uppercase;
  font-size: .625rem;

  @extend
    %u-display-block,
    %u-font-avenir-700-normal;
}

.btn__text--small {
  min-width: 7rem;
  padding: 0 .5rem;

  @extend %u-font-size-xsmall;
}

.btn__text--medium {
  min-width: 12rem;
  padding: 0 1rem;

  @extend %u-font-size-small;
}

.btn__text--change {

  &::before,
  &::after {
    text-align: center;

    @extend
      %u-display-block,
      %u-position-relative,
      %u-transition-base-transform,
      %u-width-full;
  }

  &::before {
    content: attr(data-on-text);
    transform: translateY(0);
  }

  &::after {
    left: 0;

    content: attr(data-off-text);
    transform: translateY(150%);

    @extend %u-position-absolute;
  }
}

.btn.js-on {
  .btn__text {
    &::before {
      transform: translateY(-200%);
    }
    &::after {
      transform: translateY(-100%);
    }
  }
}

// Menu
.btn__menu,
.btn__menu::before,
.btn__menu::after {
  left: 0;

  width: 1.5rem;
  height: 2px;

  transition: $transition_all;

  @extend
    %u-bgc-brand-white,
    %u-position-absolute;
}

.btn__menu {
  &::before,
  &::after {
    content: '';
  }

  &::before {
    transform: translateY(-.5rem);
  }

  &::after {
    transform: translateY(.5rem);
  }
}


////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.btn.JS-on {
  .btn__menu {
    background-color: transparent;

    &::before,
    &::after {
      transform: translate(0);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .btn__content--rotate {
    transform: rotate(180deg);
  }
}
