////////////////////////////////////////////////////////////
//  Shared
////////////////////////////////////////////////////////////

.button,
.button__menu,
.button__menu::before,
.button__menu::after {
  vertical-align: middle;

  @extend %u-display-inline-block;
}

////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

.button {
  @extend
    %u-border-radius-small,
    %u-cursor-pointer,
    %u-position-relative,
    %u-overflow-hidden,
    %u-transition-base-all; // prevents svg viewbox overflow
}

.button--small {
  height: 2rem;
  min-width: 2rem;
  padding: 0 .5rem;

  @extend
    %u-font-size-small,
    %u-inline-spacing-xsmall;
}

.button--secondary {
  border: 2px solid $brand_green;

  &:active {
    background-color: $brand_green;
    color: $brand_white;
  }

  @extend
    %u-color-brand-green,
    %u-flex-row-center;

  @include above('large') {
    &:hover {
      color: $brand_white;
      background-color: $brand_green;
    }
  }
}

.button__content {
  @extend %u-display-block;
}

.button__text {
  text-transform: lowercase;

  font-variant: small-caps;

  &::before,
  &::after {
    text-align: center;

    @extend
      %u-display-block,
      %u-position-relative,
      %u-transition-base-transform,
      %u-width-full;
  }

  &::before {
    content: attr(data-on-content);
    transform: translateY(0);
  }

  &::after {
    left: 0;

    content: attr(data-off-content);
    transform: translateY(100%);

    @extend %u-position-absolute;
  }
}

.button.js-on {
  .button__text {
    &::before {
      transform: translateY(-200%);
    }
    &::after {
      transform: translateY(-100%);
    }
  }
}

// Menu
.button__menu,
.button__menu::before,
.button__menu::after {
  left: 0;

  width: 1.5rem;
  height: 2px;

  transition: $transition_all;

  @extend
    %u-bgc-brand-white,
    %u-position-absolute;
}

.button__menu {
  &::before,
  &::after {
    content: '';
  }

  &::before {
    transform: translateY(-.5rem);
  }

  &::after {
    transform: translateY(.5rem);
  }
}


////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.button.js-on {
  .button__menu {
    background-color: transparent;

    &::before,
    &::after {
      transform: translate(0);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .button__content--rotate {
    transform: rotate(180deg);
  }
}
