////////////////////////////////////////////////////////////
//  Shared
////////////////////////////////////////////////////////////

.button,
.button__menu,
.button__menu::before,
.button__menu::after {
  @extend %u-display-inline-block;
  vertical-align: middle;
}

////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

.button {
  @extend
    %u-border-radius-small,
    %u-cursor-pointer,
    %u-position-relative,
    %u-overflow-hidden,
    %u-transition-base-all; // prevents svg viewbox overflow
}

.button--small {
  height: 2rem;
  min-width: 2rem;
  padding: 0 .5rem;

  @extend
    %u-font-size-small,
    %u-inline-spacing-xsmall;
}

.button--secondary {
  border: 2px solid $brand_green;

  &:hover {
    background-color: $brand_green;
    color: $brand_white;
  }

  @extend
    %u-color-brand-green,
    %u-flex-row-center;
}

.button__text {
  font-variant: small-caps;
  text-transform: lowercase;
}

.button__animation {
  @extend %u-display-block;
}

// Menu
.button__menu,
.button__menu::before,
.button__menu::after {
  left: 0;

  width: 1.5rem;
  height: 2px;

  transition: $transition_all;

  @extend
    %u-bgc-brand-white,
    %u-position-absolute;
}

.button__menu {
  &::before,
  &::after {
    content: '';
  }

  &::before {
    transform: translateY(-.5rem);
  }

  &::after {
    transform: translateY(.5rem);
  }
}


////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.button.js-on {
  .button__menu {
    background-color: transparent;

    &::before,
    &::after {
      transform: translate(0);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .button__animation--rotate {
    transform: rotate(180deg);
  }
}
