////////////////////////////////////////////////////////////
//  Shared
////////////////////////////////////////////////////////////

.button,
.button__menu,
.button__menu::before,
.button__menu::after {
  @extend %u-display-block;
}

////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

.button {
  position: relative;

  @extend %u-button-reset;
}

.button__menu,
.button__menu::before,
.button__menu::after {
  width: 1.5rem;
  height: 2px;

  transition: $transition_all;

  background-color: $brand_white;
}

.button__menu {

  &::before,
  &::after {
    position: absolute;
    left: 0;

    content: '';
  }

  &::before {
    top: -.5rem;
  }

  &::after {
    bottom: -.5rem;
  }
}

.button.js-on {
  .button__menu {
    background-color: transparent;

    &::before {
      top: calc(50% - 1px);

      transform: rotate(45deg);
    }

    &::after {
      bottom: calc(50% - 1px);

      transform: rotate(-45deg);
    }
  }
}
