.card {
  overflow: hidden;
  border-radius: 2px;
  transition: all ease-in-out .2s;
  margin-top: 1rem;
  background-color: darken($brand_white, 5%);
  border-left: 4px solid $brand_green;
}

.card__inner {
  @extend %u-flex-row;
  align-items: flex-start;
}

.card__image {
  width: 4rem;
  position: relative;

  @extend %u-overlay;

  > img {
    width: 100%;
    display: block;
  }
}

.card__content {
  flex: 1;
  padding: .5rem;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.card:hover {
  background-color: darken($brand_white, 7.5%);
}
