.card {
  overflow: hidden;
  border-radius: 2px;
  transition: all ease-in-out .2s;
  margin-top: 1rem;
  background-color: darken($brand_white, 5%);
}

.card--events       { @extend %u-accent-medium-brand-blue-left; }
.card--blog         { @extend %u-accent-medium-brand-brown-left; }
.card--innovation   { @extend %u-accent-medium-brand-light-blue-left; }
.card--publications { @extend %u-accent-medium-brand-light-green-left; }
.card--research     { @extend %u-accent-medium-brand-green-left; }

.card__inner {
  @extend %u-flex-row;
  align-items: flex-start;
}

.card__image {
  width: 4rem;
  position: relative;

  @extend %u-overlay;

  > img {
    width: 100%;
    display: block;
  }
}

.card__content {
  flex: 1;
  padding: .5rem;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.card:hover {
  background-color: darken($brand_white, 7.5%);
}
