.carousel,
.carousel__inner {
  @extend %E-width-full;
}

.carousel {
  @extend %E-margin-top-medium;
}

.carousel__item {
  max-width: 100%;
  height: auto;

  @include above('small') {
    width: calc((100% / 2) - .5rem);
  }

  @include above('medium') {
    width: calc((100% / 3) - .6666rem);
  }

  &:nth-last-child(1n + 2) {
    margin-right: 1rem;
  }
}

.carousel__actions {
  width: 6.75rem;

  justify-content: space-between;

  @extend
    %E-flex-row,
    %E-margin-center-x,
    %E-margin-top-small,
    %E-position-relative;

  &::before {
    left: calc(50% - 1px);

    height: 1rem;

    content: '';

    border-left: 2px solid $brand_white_2;

    @extend %E-absolute-center-xy;
  }
}

.carousel__prev,
.carousel__next {

  @extend
    %E-cursor-pointer,
    %E-flex-row-center;
}

.carousel__prev > span { margin-left: .25rem; }
.carousel__next > span { margin-right: .25rem; }
