.carousel,
.carousel__inner {
  @extend %e-width-full;
}

.carousel {
  @extend %e-animate-fade-in-load;
  @extend %e-mgn-t-sm;
}

.carousel__inner,
.carousel__item {
  height: inherit; // inherit Swiper's height to define height and strech chidlren (iOS full height fix)
} .carousel__item > * {
  @extend %e-height-full;
}

.carousel__actions {
  width: 7.5rem;

  justify-content: space-between;
  @extend %e-col-green;
  @extend %e-flex-row;
  @extend %e-mgn-auto-x;
  @extend %e-mgn-t-sm;
  @extend %e-position-relative;

  &::before {
    left: calc(50% - 1px);

    height: 1rem;
    margin-top: -1px;

    content: '';

    opacity: .5;
    border-left: 1px solid Get($colors, primary, green);

    @extend %e-absolute-center-xy;
  }
}

.carousel__prev,
.carousel__next {
  @extend %e-cursor-pointer;
  @extend %e-ff-prim-heavy;
  @extend %e-flex-row-center;
  @extend %e-fz-xs;
  @extend %e-trans-core;
  @extend %e-upper;

  &:hover:not(.swiper-button-disabled) {
    @extend %e-col-orange;
  }

  &.swiper-button-disabled {
    opacity: .5;
  }
}

.carousel__prev > span {
  padding-left: .25rem;

  @extend %e-mgn-r-xs;
}

.carousel__next > span {
  padding-right: .25rem;

  @extend %e-mgn-l-xs;
}
