.carousel,
.carousel__inner {
  @extend %e-width-full;
}

.carousel {
  @extend %e-animate-fade-in-load;
  @extend %e-mgn-t-sm;
}

.carousel__inner {
  height: 0;
  opacity: 0;

  @extend %e-overflow-hidden;
  @extend %e-trans-opacity;
}

.carousel__item {
  padding: 0 .25rem .25rem;

  @extend %e-display-flex;
  @extend %e-width-full;

  @include above(sm) { width: (100% / 2); }
  @include above(lg) { width: calc(100% / 3); }
}

.carousel__actions {
  justify-content: space-between;

  width: 7.5rem;

  @extend %e-col-green;
  @extend %e-flex-row;
  @extend %e-mgn-auto-x;
  @extend %e-mgn-t-sm;
  @extend %e-position-relative;

  &::before {
    left: calc(50% - 1px);

    height: 1rem;
    margin-top: -1px;

    content: "";

    opacity: .5;
    border-left: 1px solid Get($colors, primary, green);

    @extend %e-absolute-center-xy;
  }
}

.carousel__prev,
.carousel__next {
  user-select: none;

  @extend %e-cursor-pointer;
  @extend %e-ff-prim-heavy;
  @extend %e-flex-row-center;
  @extend %e-fz-xs;
  @extend %e-trans-core;
  @extend %e-upper;

  &:hover:not(.swiper-button-disabled) {
    @extend %e-col-orange;
  }

  &.swiper-button-disabled {
    opacity: .5;
  }
}

.carousel__prev > span {
  padding-left: .25rem;

  @extend %e-mgn-r-xs;
}

.carousel__next > span {
  padding-right: .25rem;

  @extend %e-mgn-l-xs;
}

/*		=Behaviour
  ========================================================================== */

.carousel__inner.JS-loaded {
  opacity: 1;

  & .carousel__item {
    height: inherit;
  }
}
