.content,
.content__header {
  @extend %u-flex-row,
}

.content {
  border-radius: 1px;

  @extend
    %u-bgc-brand-white,
    %u-overflow-hidden,
    %u-row;
}

.content--events       { @extend %u-accent-large-brand-blue-top; }
.content--blog         { @extend %u-accent-large-brand-brown-top; }
.content--innovation   { @extend %u-accent-large-brand-light-blue-top; }
.content--publications { @extend %u-accent-large-brand-light-green-top; }
.content--research     { @extend %u-accent-large-brand-green-top; }

.content__header {
  @extend %u-width-full;
}

.content__introduction {
  font-size: 1.25rem;
}

.content__introduction,
.content__promoted,
.content__main,
.content__aside {
  @extend %u-container-small;
}

.content__introduction,
.content__main {
  @extend %u-content-main;
}

.content__promoted,
.content__aside {
  flex: 1;
}
