.content {
  @extend %u-padding-small;
}

.content--paper {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  box-shadow: map-get($box_shadow, prime_black_light);

  @extend %u-bgc-brand-white;
}

.content__inner {
  @extend %u-margin-center-x;

  &:nth-child(1n + 2) {
    @extend %u-margin-top-medium;
  }
}

.content__inner--narrow {
  @extend %u-container-narrow;
}

.content__inner--wide {
  @extend %u-container-wide;
}

.content__inner--flow {
  border-bottom: 2px solid $brand_white_2;

  padding-bottom: 2rem;
}

.content--narrow {
  @extend %u-container-narrow;
}

.content--wide {
  @extend %u-container-wide;
}

.content--center {
  justify-content: space-around;

  @extend
    %u-flex-row-center,
    %u-text-align-center;
}
