.copy {
@extend %e-position-relative;

// Ensure margin on first text elem in expand
&.expand {
  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 1.5em;
  }

  > p, ul {
    &:first-child {
      margin-top: 1em;
    }
  }
}

> p, > h1, > h2, > h3, > h4, > h5, > h6, ul, ol {
  &:not(:last-child) {
    @extend %e-mgn-b-sm;
  }
}

> h1, > h2, > h3, > h4, > h5, > h6 {

  > a {
    @extend .link;
  }

  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

img {
  margin-left: auto;
  margin-right: auto;

  @extend %e-display-block;
  @extend %e-mgn-x-md;
}

.plyr,
table {
  margin: 2rem auto;
}

> h2 {
  @extend .title-md;
}

> h3 {
  @extend .title-sm;
}

> h4 {
  @extend .strap-sm;
}

> h5 {
  @extend .label-xs;
}

> h1, > h2, > h3 {
  @extend %e-col-brand-green-2;
}

> h4 {
  @extend %e-col-black-1;
}

> h5 {
  @extend %e-col-grey-2;
}

> p > a,
> p > strong > a,
ul > li > strong > a,
> p > em > a,
> ul > li > p > a,
> ol > li > p > a,
> ul > li > a,
> ol > li > a,
.footnotes a,
sup > a {
  @extend .link;
  // @extend %e-ff-prim-roman;
}

strong > a {
  @extend %e-ff-prim-heavy;
}

em {
  font-style: normal;

  @extend %e-ff-prim-oblique;
}

img,
blockquote,
.plyr {
  @extend %e-box-shad-z1;
}

img,
.plyr {
  @extend %e-max-width-full;
  @extend %e-rad-slight;
}

img {
  ~ em {
    margin-top: -1rem;

    font-size: .75rem;

    @extend %e-col-black-2;
    @extend %e-display-block;
  }
}

> iframe {
  @extend %e-width-full;
}

picture {
  @extend %e-width-full;
}

.small,
small {
  opacity: .85;
  @extend %e-fz-xs;
  @extend %e-display-block;
}

hr {
  height: 1px;

  border: 0;
  background-color: Get($colorGroups, white, 2);

  @extend %e-mgn-x-md;
}

/*		=Quotes
  ========================================================================== */

blockquote,
.twitter-tweet {
  @extend %e-bgc-white-2;
  @extend %e-rad-slight;
}

blockquote {
  margin: 2rem auto;
  padding: 1rem;

  border-left: .5rem solid Get($colorGroups, orange, 2);

  // @extend %e-fz-md;
}

.twitter-tweet {
  margin: 2rem auto !important;
  padding: 1rem !important;

  border-left: .5rem solid Get($colorGroups, orange, 2) !important;
}

/*    =Lists
  ========================================================================== */

/* Core */

ul,
ol {
  display: table;

  padding-left: 0;

  > li {
    display: table;

    &::before {
      display: table-cell;

      width: 1.5rem;
      padding-right: .5rem;

      text-align: left;
      font-size: .75rem;

      @extend %e-col-orange-2;
      @extend %e-ff-prim-heavy;
      @extend %e-position-relative;
    }
  }
}

ul > li {
  &::before {
    top: -.25em;
  }
}

li {
  padding-top: .25em;
}

/* Unordered */
> ul {
  counter-reset: root-ul-counter;

  ul {
    margin-bottom: 0;
  }

  > li {
    &::before{
      content: counter(root-ul-counter, square);
      counter-increment: root-ul-counter;
    }

    > ul {
      counter-reset: level-one-ul-counter;

      > li {
        &::before {
          content: counter(level-one-ul-counter, square);
          counter-increment: level-one-ul-counter;
        }

        > ul {
          counter-reset: level-two-ul-counter;

          > li {
            &::before {
              content: counter(level-two-ul-counter, square);
              counter-increment: level-two-ul-counter;
            }
          }
        }
      }
    }

    > ol{
      counter-reset: level-one-ol-counter;

      > li {
        &::before {
          content: counter(level-one-ol-counter) ".";
          counter-increment: level-one-ol-counter;
        }

        > ol {
          counter-reset: level-two-ol-counter;

          > li {
            &::before {
              content: counter(level-two-ol-counter, lower-roman) ".";
              counter-increment: level-two-ol-counter;
            }
          }
        }
      }
    }
  }
}

/* Ordered */
.footnotes > ol,
> ol {
  counter-reset: root-ul-counter;

  > li {
    &::before {
      content: counter(root-ul-counter) ".";
      counter-increment: root-ul-counter;
    }

    > ol {
      counter-reset: level-one-ul-counter;

      > li {
        &::before {
          content: counter(level-one-ul-counter, lower-roman) ".";
          counter-increment: level-one-ul-counter;
        }

        > ol {
          counter-reset: level-two-ul-counter;

          > li {
            &::before {
              content: counter(level-two-ul-counter, lower-latin) ".";
              counter-increment: level-two-ul-counter;
            }
          }
        }
      }
    }

    > ol {
      counter-reset: level-one-ol-counter;

      > li {
        &::before {
          content: counter(level-one-ol-counter);
          counter-increment: level-one-ol-counter;
        }

        > ol {
          counter-reset: level-two-ol-counter;

          > li {
            &::before {
              content: counter(level-two-ol-counter, lower-roman);
              counter-increment: level-two-ol-counter;
            }
          }
        }
      }
    }
  }
}

.footnotes {
  [id] {
    margin-top: -4rem;
    padding-top: 4rem;
  }
}

/**
 * =Tables
************************************************************/

table {
  border-collapse: collapse;
  @extend %e-box-shad-z1;
  @extend %e-width-full;

  th, td {
    @extend %e-pad-xs;
  }

  thead {
    tr {
      border-bottom: 2px solid currentColor;
    }
  }

  tbody {
    tr:nth-child(even) {
      @extend %e-bgc-white-2;
    }
  }

  @extend %e-align-left;
  @extend %e-fz-xs;

  // Sources
  & + p > em {
    @extend %e-display-inline-block;
    @extend %e-fz-xs;
  }
}

/**
 * =Misc.
************************************************************/

.caption,
.img-caption {
  margin-top: -1.5rem;
  margin-bottom: 2rem !important;
  max-width: 30rem;
  width: 100%;
  opacity: .85;

  @extend %e-align-cen;
  @extend %e-display-block;
  @extend %e-fz-xs;
  @extend %e-mgn-auto-x;
}

.toc-link {
  left: -.375rem;
  // opacity: .85;
  margin-top: 1.5rem;

  @extend %e-fz-xs;
  @extend %e-position-relative;

  &:hover {
    opacity: 1;
  }

  & > svg {
    text-decoration: none;
    top: -.125rem;

    @extend %e-position-relative;
  }
}

.aside,
.aside-r {
  @extend %e-bgc-white-2;
  @extend %e-fz-xs;
  @extend %e-pad-sm;
  @extend %e-position-relative;
  @extend %e-rad-slight;

  @include above(sm) {
    width: 50%;
    margin-right: 1rem;
  }
}

.aside {
  @include above(sm) {
    float: left;
    margin-right: 1rem;
  }
}

.aside-r {
  @include above(sm) {
    float: right;
    margin-left: 1rem;
  }
}

abbr {
  text-decoration: none;
  cursor: pointer;
}

} // END .copy

/**
 * =Landing page
************************************************************/

.copy.copy--lp {
  img,
  blockquote {
    @extend %e-position-relative;
  }

  .plyr,
  img {
    @include above(md) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    @include above(md) {
      max-width: calc(100% + 15rem);
    }
  }

  .plyr {
    @include above(md) {
      min-width: calc(100% + 15rem);
    }
  }

  blockquote {
    @include above(md) {
      left: -2rem;
      width: calc(100% + 2rem);
    }
  }

  .aside,
  .aside-r {
    @include above(md) {
      width: calc(50% - 2rem);
    }
  }

  .aside {
    @include above(md) {
      left: -3rem;
      margin-right: -2rem;
    }
  }

  .aside-r {
    @include above(md) {
      right: -3rem;
      margin-left: -2rem;
    }
  }

  > h3 {
    @extend .title-md;
  }

  > h4 {
    @extend .title-sm;
  }

  > h5 {
    @extend .strap-sm;
  }

  > h5 {
    @extend .label-xs;
  }

  // > h2, > h3, > h4 {
    // @extend %e-col-brand-green-2;
  // }

  > h5 {
    @extend %e-col-black-1;
  }

  > h6 {
    @extend %e-col-grey-2;
  }
}

/**
 * =Invert
************************************************************/

.copy.copy--invert {

  > p, > h1, > h2, > h3, > h4, > h5, > h6, ul, ol {
    @extend %e-col-white-1;
  }

  > p > a,
  > p > strong > a,
  > p > em > a,
  > ul > li > p > a,
  > ol > li > p > a,
  > ul > li > a,
  > ol > li > a,
  .footnotes a,
  sup > a {
    @extend .link-white;
  }
}
