.copy {
@extend %e-position-relative;

// Ensure margin on first text elem in expand
&.expand {
  > p, > h1, > h2, > h3, > h4, > h5, > h6, ul {
    &:first-child {
      @extend %e-mgn-t-sm;
    }
  }
}

> p, > h1, > h2, > h3, > h4, > h5, > h6, ul {
  &:not(:last-child) {
    @extend %e-mgn-b-sm;
  }
}

> h1, > h2, > h3, > h4, > h5, > h6 {

  &:not(:first-child) {
    margin-top: 1.25em;
  }
}

img,
iframe {
  margin: 1rem auto;
}

> h2 {
  @extend .title-md;
}

> h3, > h4 {
  @extend .title-sm;
}

> h5 {
  @extend .strap-sm;
}

> h1, > h2, > h3 {
  @extend %e-col-brand-green-2;
}

> h4 {
  @extend %e-col-brand-green-3;
}

> h5 {
  opacity: .5;

  @extend %e-col-black-2;
}

> p > a,
> p > strong > a,
> p > em > a,
> ul > li > p > a,
> ol > li > p > a,
> ul > li > a,
> ol > li > a,
.footnotes a,
sup > a {
  @extend .link;
  @extend %e-ff-prim-roman;
}

img {
  @extend %e-max-width-full;
  @extend %e-box-shad-z3;
  @extend %e-rad-slight;

  ~ em {
    margin-top: -1rem;

    font-size: .75rem;

    @extend %e-col-black-2;
    @extend %e-display-block;
  }
}

> iframe {
  @extend %e-width-full;
}

picture {
  width: 100%;
}

hr {
  height: 1px;

  border: 0;
  background-color: Get($colorGroups, white, 2);

  @extend %e-mgn-x-md;
}

/*		=Quotes
  ========================================================================== */

blockquote {
  @extend %e-fz-md;
}

blockquote,
.twitter-tweet {
  margin: 2rem auto !important;
  padding: 1rem !important;

  border-left: .5rem solid Get($colorGroups, orange, 1) !important;

  @extend %e-bgc-white-2;
  @extend %e-rad-slight;
}

/*    =Lists
  ========================================================================== */

/* Core */

ul,
ol {
  display: table;

  padding-left: 0;

  > li {
    display: table;

    > ul, > ol {
      &:first-child {
        @extend %e-mgn-t-sm;
      }
    }

    &::before {
      display: table-cell;
      top: -.125rem;

      width: 1.5rem;
      padding-right: .5rem;

      text-align: left;
      font-size: .75rem;

      @extend %e-col-orange-2;
      @extend %e-ff-prim-heavy;
      @extend %e-position-relative;
    }
  }
}

li {
  padding-top: .25em;
}

/* Unordered */
> ul {
  counter-reset: root-ul-counter;

  ul {
    margin-bottom: 0;
  }

  > li {
    &::before{
      content: counter(root-ul-counter, square);
      counter-increment: root-ul-counter;
    }

    > ul {
      counter-reset: level-one-ul-counter;

      > li {
        &::before {
          content: counter(level-one-ul-counter, square);
          counter-increment: level-one-ul-counter;
        }

        > ul {
          counter-reset: level-two-ul-counter;

          > li {
            &::before {
              content: counter(level-two-ul-counter, square);
              counter-increment: level-two-ul-counter;
            }
          }
        }
      }
    }

    > ol{
      counter-reset: level-one-ol-counter;

      > li {
        &::before {
          content: counter(level-one-ol-counter, decimal-leading-zero) ".";
          counter-increment: level-one-ol-counter;
        }

        > ol {
          counter-reset: level-two-ol-counter;

          > li {
            &::before {
              content: counter(level-two-ol-counter, lower-roman) ".";
              counter-increment: level-two-ol-counter;
            }
          }
        }
      }
    }
  }
}

/* Ordered */
.footnotes > ol,
> ol {
  counter-reset: root-ul-counter;

  > li {
    &::before {
      content: counter(root-ul-counter, decimal-leading-zero) ".";
      counter-increment: root-ul-counter;
    }

    > ol {
      counter-reset: level-one-ul-counter;

      > li {
        &::before {
          content: counter(level-one-ul-counter, lower-roman) ".";
          counter-increment: level-one-ul-counter;
        }

        > ol {
          counter-reset: level-two-ul-counter;

          > li {
            &::before {
              content: counter(level-two-ul-counter, lower-latin) ".";
              counter-increment: level-two-ul-counter;
            }
          }
        }
      }
    }

    > ol {
      counter-reset: level-one-ol-counter;

      > li {
        &::before {
          content: counter(level-one-ol-counter, decimal-leading-zero);
          counter-increment: level-one-ol-counter;
        }

        > ol {
          counter-reset: level-two-ol-counter;

          > li {
            &::before {
              content: counter(level-two-ol-counter, lower-roman);
              counter-increment: level-two-ol-counter;
            }
          }
        }
      }
    }
  }
}

.footnotes {
  [id] {
    margin-top: -4rem;
    padding-top: 4rem;
  }
}

} // END .copy

.copy.copy--invert {
  > p > a,
  > p > strong > a,
  > p > em > a,
  > ul > li > p > a,
  > ol > li > p > a,
  > ul > li > a,
  > ol > li > a,
  .footnotes a,
  sup > a {
    @extend .link-white;
  }
}
