////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

html {
  line-height: Get($type, line-height);

  @extend %E-ff-prim-book;
  @extend %E-fz-base;
}

body {
  overflow-x: hidden;

  @extend %E-width-full-vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  padding: 0;

  border: 0;
  outline: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

main {
  // padding-bottom: 4rem;
}
