////////////////////////////////////////////////////////////
//  Main
////////////////////////////////////////////////////////////

html {
  line-height: Get($type, line-height);

  @extend %e-ff-prim-roman;
  @extend %e-fz-base;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  padding: 0;

  border: 0;
  outline: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

iframe {
  border: none !important;

  @extend %e-display-block;
}
