.date {
  @extend %E-pad-sm;
  @extend %E-align-cen;
  @extend %E-width-full;
}

.date__day,
.date__tmy {
  @extend %E-display-block;
}

.date__d {
  line-height: 1;
  font-size: 3.25rem;
}

.date__tmy {
  font-size: .75rem;

  @extend %E-upper;
}
