.date {
  @extend %e-align-cen;
  @extend %e-pad-sm;
  @extend %e-width-full;
}

.date__day,
.date__tmy {
  @extend %e-display-block;
}

.date__d {
  line-height: 1;
  font-size: 3.25rem;

  @extend %e-ff-prim-heavy;
}

.date__tmy {
  font-size: .75rem;

  @extend %e-ff-prim-heavy;
  @extend %e-upper;
}
