.dropdown,
.dropdown__title {
  @extend %e-position-relative;
}

.dropdown__title--inline {
  padding-right: 1.75rem;
}

.dropdown__control {
  right: 0;

  @extend %e-cursor-pointer;
  @extend %e-absolute-center-y;
}

.dropdown__content {
  height: 0;
  width: 0;

  @extend %e-overflow-hidden;
}

/*		=Behaviour
  ========================================================================== */

.dropdown__content.JS-active {
  height: inherit;
  width: inherit;

  @extend %e-overflow-auto;
}
