.dropdown,
.dropdown__title {
  @extend %u-position-relative;
}

.dropdown__title--inline {
  padding-right: 1.75rem;
}

.dropdown__control {
  right: 0;

  @extend %u-cursor-pointer;
  @extend %u-absolute-center-y;
}

.dropdown__content {
  height: 0;

  @extend %u-overflow-hidden;
}

.dropdown.js-open {
  .dropdown__content {
    height: inherit;

    @extend %u-overflow-auto;
  }
}
