.dropdown,
.dropdown__title {
  @extend %u-position-relative;
}

.dropdown__title--inline {
  padding-right: 2rem;
}

.dropdown__control {
  right: 0;

  @extend %u-cursor-pointer;
  @extend %u-absolute-center-y;
}

.dropdown__content {
  height: 0;
  width: 0;

  @extend %u-overflow-hidden;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////


.dropdown__content.JS-active {
  height: inherit;
  width: inherit;

  @extend %u-overflow-auto;
}
