.expand {

  @media screen {
    min-height: 0;
    max-height: 0;
    transition: max-height .4s ease-in-out;
    overflow: hidden;
  }

  // @extend %e-overflow-hidden;

  @media print {
    min-height: unset !important;
    max-height: unset !important;
    overflow: auto !important;
  }
}

.expand.JS-active {
  max-height: 200rem;
}
