.feed {
  // @extend %e-mgn-t-md;
}

.feed__load,
.feed__status {
  @extend %e-align-cen;
  @extend %e-animate-fade-in-load;
  @extend %e-mgn-t-md;
  @extend %e-mgn-auto-x;
}

.feed__status {
  display: none;
}

.feed__status .infinite-scroll-request > svg {
  animation-iteration-count: infinite;
  animation-duration: 500ms;

  @extend %e-animate-spin;
}

.feed__menu {
  top: 4rem;
  bottom: 3rem;

  @extend %e-position-sticky;
}
