.feed {
  // @extend %e-mgn-t-md;
}

.feed__load,
.feed__status {
  @extend %e-align-cen;
  @extend %e-animate-fade-in-load;
  @extend %e-mgn-t-sm;
  @extend %e-mgn-auto-x;
  @include above(sm) {
    text-align: left;
  }
}

.feed__status {
  display: none;
}

.feed__status .infinite-scroll-request > svg {
  animation-duration: 500ms;
  animation-iteration-count: infinite;

  @extend %e-animate-spin;
}

.feed__menu {
  @include above(md) {
    top: 5rem;
    bottom: 3rem;
    position: sticky;
  }
}

.feed__menu--item,
.feed__menu--item-disabled {
  width: 1.75rem;
  font-size: .75rem;
  border-radius: 1px;

  @extend %e-align-cen;
  @extend %e-bgc-greyscale-1;
  @extend %e-col-brand-green-1;
  @extend %e-display-block;
  @extend %e-ff-prim-heavy;
  @extend %e-trans-core;
}

.feed__menu--item {
  &:hover {
    @extend %e-bgc-brand-green-1;
    @extend %e-col-greyscale-0;
  }
}

.feed__menu--item.JS-active,
.feed__menu--item.JS-disabled {
  pointer-events: none;
}

.feed__menu--item.JS-active {
  @extend %e-bgc-brand-green-1;
  @extend %e-col-greyscale-0;
}
