.feed-item {
  align-items: flex-start;

  @extend %e-animate-fade-in-load;
  @extend %e-flex-row-nowrap;

  &:not(:last-of-type) {
    // border-bottom: 2px solid Get($colors, greyscale, light-grey);

    @extend %e-mgn-b-sm;
    @extend %e-pad-b-sm;
  }
}

.feed-item__img,
.feed-item__img > img {
  @extend %e-rad-slight;
}

.feed-item__img {

  width: 20%;
  padding-bottom: 20%;

  @extend %e-bgc-brand-green-2;
  @extend %e-mgn-t-xs;
  @extend %e-mgn-r-sm;
  @extend %e-overflow-hidden;
  @extend %e-position-relative;
  @include above(sm) {
    margin-top: 0;
    margin-right: 2rem;
  }
}

.feed-item__img > img {
  color: transparent;

  @extend %e-display-block;
  @extend %e-position-absolute;
  @extend %e-width-full;
}

.feed-item__content {
  width: calc(80% - 1rem);

  @include above(sm) {
    width: calc(80% - 2rem);
    // margin-top: -1rem;
  }
}
