/*		=Core
  ========================================================================== */

.form {
  @extend %e-pad-b-sm;

  label {
    @extend %e-position-relative;
  }

  textarea {
    min-height: 6rem;
    resize: vertical;

    @extend %e-pad-xs;
  }

  input,
  textarea {
    &.form__field::placeholder {
      opacity: .6666;

      @extend %e-ff-prim-oblique;
      @extend %e-col-grey-1;
    }
  }
}

.form__invalid-alert {
  @extend %e-display-none;
  @extend %e-fz-xs;
}

.form__main {
  @extend %e-overflow-hidden;
}

.form__prev {
  float: left;
}

.form__next {
  float: right;
}

.form__label,
.form__field {
  @extend %e-width-full;
}

.form__field,
.form__qty {
  height: 2.25rem;
  line-height: 1.5;
}

.form__field,
.form__field:valid,
.form__field:valid.JS-error {
  border: 2px solid Get($colorGroups, white, 3) !important;
}

.form__field {
  font-family: $systemFont;

  @extend %e-pad-y-xs;
  @extend %e-rad-slight;

  &:focus {
    outline: none;
    border-color: Get($colorGroups, brand-green, 2) !important;
  }
}

.form__label {
  display: block !important;

  margin-bottom: 1.5px;
  // margin-left: 8px;

  @extend %e-mgn-t-xs;
  @extend %e-col-brand-green-1;
}

.form__err {
  color: red;
  margin-right: 8px;

  @extend %e-display-none;
  @extend %e-fz-xxs;
  @extend %e-mgn-t-xxs;
}

.form__confirmation,
.form__error {
  @extend %e-display-none;
}

.form__confirmation {
  top: 0;
  left: 0;

  opacity: 0;

  @extend %e-bgc-white-1;
  @extend %e-height-full;
  @extend %e-trans-opacity;
  @extend %e-width-full;
}

.form__footer {
  font-size: .75rem;

  @extend %e-ff-prim-roman;
  @extend %e-mgn-t-sm;

  & > p:last-child {
    margin-bottom: 0;
  }
}

.form__typeform-embed {
  width: 100%;
  height: 100%;
}

.form__title {
  margin-top: 0;
  border-bottom: 2px solid Get($colorGroups, brand-green, 2);

  @extend .title-sm;
  @extend %e-col-brand-green-1;
  @extend %e-mgn-b-sm;
}

.form__select-wrapper {
  @extend %e-display-inline-block;
  @extend %e-position-relative;

  &::after {
    content: "\025be";
    top: calc(50% - .6rem);
    right: .5rem;
    font-size: 1.75rem;
    z-index: -1;

    @extend %e-display-block;
    @extend %e-position-absolute;
  }

  & select {
    min-width: 10rem;

    @extend %e-pad-r-md;
  }
}

/*		=Form product
  ========================================================================== */

.form__product {
  @extend %e-flex-row;
}

.form__product-left {
  width: 150px;

  @extend %e-pad-r-sm;
  @extend %e-pad-b-xs;

  & > img {
    width: 100%;
    @extend %e-rad-slight;
  }
}

.form__product-right {
  flex: 1;
}


/*		=Checkbox
  ========================================================================== */

.form__check,
.form__check-label,
.form__check-input {
  cursor: pointer;
}

.form__check-input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.125rem;

  border: solid 2px Get($colorGroups, white, 3);

  @extend %e-rad-slight;
  @extend %e-display-inline-block;

  &:checked {
    @extend %e-bgc-orange-2;
  }
}

.form__check-text {
  @extend %e-col-black-2;
}

.form__check-meta {
  @extend %e-col-orange-2;
}

/*		=Behaviour (validation)
  ========================================================================== */

.form.JS-invalid {
  .form__invalid-alert {
    @extend %e-display-block;
  }
}

.form__field.JS-error {
  border-color: red !important;
}

.form__field.JS-error + .form__err {
  top: 4px;
  right: 0;

  @extend %e-display-block;
  @extend %e-position-absolute;
}

.form__field:valid + .form__err {
  display: none !important;
}

.form:not(.form--checkout).JS-success {

  .form__confirmation {
    opacity: 1;

    @extend %e-display-block;
  }

  .form__main {
    @extend %e-display-none;
  }
}

.form.JS-error {

  .form__main {
    @extend %e-display-none;
  }

  .form__error {
    @extend %e-display-block;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.form__review-order {
  &.JS-inactive {
    display: none;
  }

  &.JS-active {
    display: block;
  }
}

/**
 * =Multiple shipping items
************************************************************/

.form.JS-shipping-multiple {

}
