.form {
  width: 100%;

  @extend %e-mgn-auto-x;
  @extend %e-rad-slight;
}

.form--light {
  @extend %e-bgc-light-grey;

  .form__text::placeholder {
    @extend %e-col-mid-grey;
  }
}

.form--dark {
  @extend %e-bgc-black;
  @extend %e-col-white;

  .form__text::placeholder {
    @extend %e-col-grey;
  }
}

.form--side {
  @extend %e-mgn-t-xs;
  @extend %e-pad-sm;
}

.form__text {
  height: 2.5rem;
  padding: 0 .5rem;

  border: 2px solid Get($colors, greyscale, mid-grey);
  background: transparent;

  @extend %e-col-white;
  @extend %e-ff-prim-roman;
  @extend %e-rad-slight;
  @extend %e-width-full;
}

.form__ty {
 @extend %e-align-cen;
}

///////////////////////////////////////////////////////////
//  =ActiveCampaign style
////////////////////////////////////////////////////////////

._error * {
  @extend %e-col-brown;
  @extend %e-fz-xs;
}

.pika-single {
  z-index: 10000001 !important;
}
