.grid {
  // margin-top: -1rem;
  margin-left: -2rem;

  @extend %E-flex-row;
}

.grid--center {
  justify-content: center;
}

.grid__cell {
  max-width: 40rem;

  @extend %E-width-full;
}

.grid__cell {
  margin-top: 1rem;
  margin-left: 2rem;

  order: 1;
}

.grid__cell--first {
  order: 0;
}

// Cell 1 through 12 @ 5rem each
@for $n from 1 through 12 {

  // Cell
  .grid__cell--#{ $n } {
    flex: 1 calc((#{ 8.3333 * $n + '%'}) - 2rem);
  }

  // Offset
  .grid__cell--offset-#{ $n } {
    margin-left: calc(#{ 8.3333 * $n + '%'} + 2rem);
  }

  // Order
  .grid__cell--order-#{ $n } {
    order: #{ $n };
  }
}

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {
    @for $n from 1 through 12 {

      // Cell
      .grid__cell--#{ $screen }-#{ $n } {
        flex: 1 calc((#{ 8.3333 * $n + '%'}) - 2rem);
      }

      // Offset
      .grid__cell--#{ $screen }-offset-#{ $n } {
        margin-left: calc(#{ 8.3333 * $n + '%'} + 2rem);
      }

      // Order
      .grid__cell--order-#{ $n }-#{ $screen } {
        order: #{ $n };
      }
    }
  }
}
