///////////////////////////////////////////////////////////
//  =Grid - Component
////////////////////////////////////////////////////////////

.grid {
  @extend %E-flex-row;
  // @extend %E-width-full;

}

.grid--center {
  justify-content: center;
}

@each $breakpoint in map-keys($breakpoints) {
  @include above($breakpoint) {

    .grid--above-#{ $breakpoint }-center {
      justify-content: center;
    }
  }
}


.grid__cell {
    // @extend %E-max-width-full;

}

// Allow item marked 'order-0' (below) to jump to start
.grid__cell {
  order: 1;
}

// Grid cells and columns
@for $i from 1 through length(map-keys($spacing)) {

  $keys: map-keys($spacing);
  $key: nth($keys, $i);
  $val: map-get($spacing, $key);

  // $prev: $i - 1;

  // Core
  .grid--#{ $key } {
    @extend %E-mgn-neg-l-#{ $key };

    & > .grid__cell {
      @extend %E-mgn-l-#{ $key };
      @extend %E-mgn-t-#{ $key };

      // @if $prev > 0 {
      //   @extend %E-mgn-t-#{ nth($keys, $prev) };

      // } @else {
      //   margin-top: $val / 2;
      // }
    }

    // Columns:
    // Cell 1 through 12 (100 / 12 == 8.3333)
    @for $n from 1 through 12 {

      // Cell
      & > .grid__cell--#{ $n } {
        flex: 1 calc((#{ 8.3333 * $n + '%'}) - #{ $val });
      }

      // Offset
      & > .grid__cell--offset-#{ $n } {
        margin-left: calc(#{ 8.3333 * $n + '%'} + #{ $val });
      }

      // Breakpoints
      @each $breakpoint in map-keys($breakpoints) {
        @include above($breakpoint) {

          // Cell
          & > .grid__cell--above-#{ $breakpoint }-#{ $n } {
            flex: 0 calc((#{ 8.3333 * $n + '%'}) - #{ $val });
          }

          // Offset
          & > .grid__cell--above-#{ $breakpoint }-offset-#{ $n } {
            margin-left: calc(#{ 8.3333 * $n + '%'} + #{ $val });
          }
        }
      }
    }
  }
}

// Order
@for $n from 0 through 10 {

  .grid__cell--order-#{ $n } {
    order: #{ $n };
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include above($breakpoint) {

      .grid__cell--above-#{ $breakpoint }-order-#{ $n } {
        order: #{ $n };
      }
    }
  }
}
