.image {
  @extend %e-flex-row-start;
  @extend %e-overflow-hidden;
  @extend %e-width-full;
}

.image--feature {
  @extend %e-box-shad-raised;
}

.image__img {
  order: 2;
  @extend %e-width-full;
}

.image__caption {
  width: calc(100% + 2rem);
  margin: 0 -1rem 1rem;

  order: 1;
  @extend %e-pad-xs;
}
