.image {
  // left: 50%;

  // transform: translateX(-50%);

  @extend %e-position-relative;
}

.image--link {

  .image__img {
    transform: scale(1) translateZ(0) perspective(1px);

    @extend %e-fix-webkit-blur;
    @extend %e-trans-transform;
  }

  &:hover .image__img {
    transform: scale(1.1) translateZ(0) perspective(1px);
  }
}

.image__wrapper {
  @extend %e-display-block;
  @extend %e-overflow-hidden;
  @extend %e-rad-slight;
  @extend %e-width-full;
}

.image__wrapper--circle {
  @extend %e-rad-circ;
}

.image__wrapper--icon {
  max-width: 10rem;
  max-height: 5rem;

  @extend %e-width-full;
}

.image__wrapper--light {
  @extend %e-bgc-white-1;
  @extend %e-box-shad-z3;
}

.image__wrapper--invert {
  opacity: .5;

  @extend %e-bgc-white-1;
  @extend %e-pad-xs;
}

@supports (filter: invert(1)) {

  .image__wrapper--invert {
    padding: 0;

    background-color: transparent;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.image__img {
  // left: 50%;

  max-width: 100%;
  max-height: inherit;

  // transform: translateX(-50%);

  @extend %e-display-block;
  @extend %e-position-relative;
  @extend %e-img-filter;
}

.image__caption {
  @extend %e-align-cen;
  @extend %e-mgn-t-xs;
  @extend %e-pad-xs;
  @extend %e-width-full;
}
