.image {
  width: 100vw;
  max-width: 30rem;
  margin-left: -1rem;

  box-shadow: map-get($box_shadow, prime_black);

  align-items: flex-start;

  @extend
    %u-flex-row,
    %u-overflow-hidden,
    %u-padding-small;


  @include above('xsmall') {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    border-radius: 2px;
  }
}

.image__img {
  order: 2;

  @extend %u-width-full;
}

.image__caption {
  width: calc(100% + 2rem);
  margin: -1rem -1rem 1rem;

  border-bottom: 2px solid $brand_white_2;

  order: 1;
  @extend %u-padding-xsmall;
}
