.logo {
  width: 91px;
}

.logo__image {
  width: inherit;
}

.logo__image--mobile {
  vertical-align: middle;

  @include above('md') {
    @extend %E-display-none__md;
  }
}

.logo__image--desktop {
  @extend %E-display-none;
  @include above('md') {
    @extend %E-display-block__md;
    @extend %E-transition-base-transform__md;
  }
}
