.main-card {
  width: 100%;

  text-align: left;

  overflow: hidden;

  box-shadow: map-get($box_shadow, prime_black_light);

  @extend
    %E-bgc-light-grey,
    %E-border-radius-sm;
}

.main-card--events       { @extend %E-accent-md-blue-top; }
.main-card--blog         { @extend %E-accent-md-brown-top; }
.main-card--innovation   { @extend %E-accent-md-light-blue-top; }
.main-card--resources    { @extend %E-accent-md-light-green-top; }
.main-card--research     { @extend %E-accent-md-green-top; }

.main-card__header {
  position: relative;
}

.main-card__image {

  @extend %E-overlay-dark;

  & > img {
    @extend
      %E-display-block,
      %E-width-full;
  }
}

.main-card__meta {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.main-card__title {
  position: absolute;
  bottom: 0;
  left: 0;

  @extend %E-pad-sm;
}

.main-card__introduction {
  padding: 1rem;
}

////////////////////////////////////////////////////////////
//  TEMP
////////////////////////////////////////////////////////////

.main-card__header--side {
  height: 162px;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  // border-bottom: 2px solid $brand_white_3;
}

.main-card__side-image {
  height: 100%;
  > img {
    height: 100% ;
  }
}

.main-card__content {
  padding: 1rem 1rem 1rem .5rem;
}
