.main-card {
  text-align: left;
  height: inherit;

  @extend %e-bgc-white;
  @extend %e-box-shad-z1;
  @extend %e-min-height-full;
  @extend %e-overflow-hidden;
  @extend %e-rad-slight;
  @extend %e-width-full;

  &:hover img {
    transform: scale(1.05);
  }
}

.main-card--events       { @extend %e-acc-blue-top; }
.main-card--blog         { @extend %e-acc-brown-top; }
.main-card--intelligence { @extend %e-acc-light-blue-top; }
.main-card--publications    { @extend %e-acc-light-green-top; }
.main-card--projects     { @extend %e-acc-green-top; }

.main-card__featured-icon {
  top: .5rem;
  right: .5rem;

  z-index: 1;

  @extend %e-col-white;
  @extend %e-position-absolute;
}

.main-card__header {
  @extend %e-position-relative;
}

.main-card__image {
  @extend %e-overflow-hidden;
  @extend %e-bgc-green;

  & > img {
    min-height: 1px; // Fix Safari height issues on lazy images

    @extend %e-display-block;
    @extend %e-fix-webkit-blur;
    @extend %e-position-relative;
    @extend %e-trans-transform;
    @extend %e-max-width-full;
    @extend %e-width-full;
  }
}

.main-card__meta,
.main-card__title {
  @extend %e-bgc-overlay-black;
  @extend %e-position-absolute;
}

.main-card__meta {
  top: 0;
  left: .5rem;

  padding: 0 .5rem;
}

.main-card__title,
.main-card__introduction {
  @extend %e-pad-x-xs;
  @extend %e-pad-y-sm;
}

.main-card__title {
  bottom: 0;
  left: 0;

  line-height: 1.3333;
}

/*		=Behaviour
  ========================================================================== */

.main-card {
  .b-lazy + .main-card__title {
    opacity: 0;

    @extend %e-trans-opacity;
  }

  .b-loaded + .main-card__title {
    opacity: 1;
  }

  .b-lazy.b-loaded {
    @extend %e-animate-fade-in-load;
  }
}
