.menu {
  top: 0;
  left: 0;

  padding-top: 3.5rem;

  @extend
    %E-bgc-brand-black,
    %E-padding-small,
    %E-height-full,
    %E-position-fixed,
    %E-transition-base-transform,
    %E-zidx-neg;
}

.menu--mobile {
  max-width: 30rem;
  padding: 3.5rem 1rem 5rem;

  transform: translateX(-100%);

  @extend
    %E-overflow-y-auto,
    %E-width-full;

  @include above('medium') {
    @extend %E-display-none__medium;
  }
}

.menu--desktop {
  transform: translateY(-100vh);

  @extend
    %E-display-none,
    %E-overflow-y-auto,
    %E-transition-base-all,
    %E-width-full-vw;

  @include above('medium') {
    @extend %E-display-block__medium;
  }
}

.menu__container--columns {
  flex-flow: row nowrap;

  @extend
    %E-container-wide,
    %E-display-flex,
    %E-margin-center-x;
}

.menu__category {
  @extend %E-margin-top-medium;
}

.menu__category--outer {
  &:nth-of-type(1n + 2) {
    padding-top: 2rem;

    border-top: 1px solid $brand_black_2;
  }
}

.menu__column {
  flex: 0 30%;

  @extend %E-margin-top-medium;

  &:nth-child(1n + 2) {
    margin-left: 2rem;
  }
}

// Accents
.menu__column--research,
.menu__category--research     { @extend %E-accent-medium-brand-green-top; }
.menu__column--about,
.menu__category--about        { @extend %E-accent-medium-brand-green-top; }
.menu__column--resources,
.menu__category--resources    { @extend %E-accent-medium-brand-light-green-top; }
.menu__column--publications,
.menu__category--publications    { @extend %E-accent-medium-brand-light-green-top; }
.menu__column--intelligence,
.menu__category--intelligence { @extend %E-accent-medium-brand-light-blue-top; }

.menu__title {
  @extend
    %E-margin-0,
    %E-color-brand-white;
}

.menu__link {
  padding: .5rem;

  background-color: $brand_black_1;

  @extend
    %E-border-radius-small,
    %E-display-block,
    %E-margin-top-xsmall;

  &:hover {
    background-color: $brand_black_2;
  }
}

////////////////////////////////////////////////////////////
//  Change state
////////////////////////////////////////////////////////////

.menu.JS-active {
  transform: translateX(0);

  // @extend %E-transition-base-transform;
}
