.menu {
  position: fixed;
  top: -5000px;
  left: 0;

  width: 100vw;
  padding-top: 3.5rem;

  transition: opacity ease .75s;

  opacity: .85;

  @extend %u-bgc-brand-black;
  @extend %u-height-full;
  @extend %u-overflow-y-scroll;
  @extend %u-z-index-negative;
}

.menu__inner {
  display: flex;

  padding: 2rem 0;

  flex-flow: row nowrap;
  justify-content: space-between;
  @extend %u-row-outer;
}

.menu__column {
  flex: 0 30%;
}

.menu__column--research {
  @include accent('green', 'top');
}

.menu__column--about {
  @include accent('green', 'top');
}

.menu__column--resources {
  @include accent('light-green', 'top');
}

.menu__column--intelligence {
  @include accent('light-blue', 'top');
}

body.js-show-menu-about,
body.js-show-menu-our-work {
  @extend %u-overflow-hidden;

  .navbar__inner::after {
    top: 0;
    left: 0;

    height: 3.5rem;

    border-bottom: 1px solid lighten($brand_black, 15%);

    @extend %u-bgc-brand-black;
    @extend %u-pseudo-element-base;
    @extend %u-width-full;
    @extend %u-z-index-negative;
  }
}

body.js-show-menu-about #menu-about,
body.js-show-menu-our-work #menu-our-work {
  top: 0;

  opacity: 1;
}
