.modal {
  z-index: 300;
  left: -9999px;
  top: 0;

  @extend
    %u-border-radius-small,
    %u-height-full-vh,
    %u-position-fixed,
    %u-width-full-vw;

  &::before {
    opacity: 0;

    @extend
      %u-bgc-brand-white,
      %u-pseudo-element-base,
      %u-width-full,
      %u-height-full;
  }
}

.modal__inner {
  width: 40rem;

  will-change: transform;

  @extend
    %u-absolute-center-xy,
    %u-bgc-brand-white,
    %u-border-radius-small,
    %u-flex-row,
    %u-height-full-vh,
    %u-max-width-full,
    %u-overflow-y-hidden,
    %u-shadow-prime-black;

  @include above('small') {
    // height: 100%;
    height: auto;
    min-height: 5rem;
    max-height: 90vh;
  }
}

.modal__header {
  top: 0;
  left: 0;
  height: 1.75rem;

  @extend
    %u-accent-small-brand-white-1-bottom,
    %u-position-absolute,
    %u-width-full;
}

.modal__close {
  margin-left: calc(100% - 1.5rem);
}

.modal__content {
  margin-top: 1.75rem;
  max-height: calc(90vh - 1.75rem); // must use units for Edge scroll

  @extend
    %u-overflow-y-auto,
    %u-padding-small;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////


.modal.JS-active {
  left: 0;

  &::before {
    animation: FadeInSkin 300ms linear;
    animation-delay: 400ms;
  }

  .modal__inner {
    animation: SlideUpInCenter 300ms ease-out;
  }
}

// Must declare after
.modal.JS-active::before,
.modal.JS-active .modal__inner {
  animation-fill-mode: forwards;
}
