.navbar {
  width: 100vw;
  max-width: 100vw;
}

.navbar {
  z-index: 200; // Override body overlay z-index

  height: 3.5rem;

  top: 0; left: 0;

  @extend
    %u-position-fixed,
    %u-transition-base-all;

  @include above('medium') {
    height: 10rem;
  };
}

.navbar__inner {
  justify-content: space-between;

  @extend
    %u-container-small,
    %u-height-full,
    %u-row;

  @include above('large') {
    padding: 0;
  }
}

.navbar__inner,
.navbar__right {
  @extend %u-flex-row-center;
}

.navbar__left {
  @include above('medium') {
    @extend %u-display-none__medium;
  }
}

.navbar__center {
  @extend %u-overflow-hidden;
}

.navbar__list,
.navbar__item {
  @extend %u-display-none;
  @include above('medium') {
    @extend %u-display-inline-block__medium;
  }
}

.navbar__list,
.navbar__item {
  padding-right: 1rem;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.navbar.js-on {
  z-index: 200;

  box-shadow: 0 0 6px 2px darken(rgba($brand_green, .9), 15%);

  @extend
    %u-bgc-brand-green;

  @include above('medium') {
    height: 3.5rem;

    .navbar__center {
      height: 2.5rem;
    }

    .logo__image--desktop {
      transform: translateY(-106px);
      animation: fadeInOut .5s;
    }
  }
}

body.js-show-menu-mobile,
body.js-show-menu-desktop-about,
body.js-show-menu-desktop-our-work {
  .navbar {
    box-shadow: none;

    &::after {
      height: 3.5rem;

      border-bottom: 1px solid $brand_black_2;

      @extend
        %u-bgc-brand-black,
        %u-pseudo-element-base,
        %u-width-full,
        %u-zindex-negative;
    }
  }
}

body.js-show-menu-mobile {
  .navbar {
    width: calc(30rem - 4rem);
  }
}
