.navbar {
  width: 100vw;
}

.navbar {
  z-index: 100;

  height: 3.5rem;

  top: 0; left: 0;

  @extend
    %u-position-fixed,
    %u-container-xsmall,
    %u-transition-base-all;

  @include above('medium') {
    height: 10rem;
    padding-right: 2rem;
  };
}

.navbar__inner {
  justify-content: space-between;

  @extend
    %u-height-full,
    %u-row;
}

.navbar__inner,
.navbar__right {
  @extend %u-flex-row-center;
}

.navbar__left {
  @include above('medium') {
    @extend %u-display-none__medium;
  }
}

.navbar__center {
  @extend %u-overflow-hidden;
}

.navbar__list,
.navbar__item {
  @extend %u-display-none;
  @include above('medium') {
    @extend %u-display-inline-block__medium;
  }
}

.navbar__list {
  padding-right: 1rem;
}

.navbar__item {
  padding-right: .5rem;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

.navbar.js-on {
  @extend %u-bgc-brand-green;

  @include box-shadow('brand-green');

  @include above('medium') {
    height: 3.5rem;

    .navbar__center {
      height: inherit;
    }

    .logo__image--desktop {
      transform: translateY(-5.886rem);
      animation: fadeInOut .5s;
    }
  }
}

body.js-show-menu-mobile,
body.js-show-menu-desktop-about,
body.js-show-menu-desktop-our-work {
  .navbar {
    box-shadow: none;

    &::after {
      top: 0;
      left: 0;

      height: 3.5rem;

      border-bottom: 1px solid $brand_black_2;

      @extend
        %u-bgc-brand-black,
        %u-pseudo-element-base,
        %u-width-full,
        %u-zindex-negative;
    }
  }
}

body.js-show-menu-mobile {
  .navbar {
    width: calc(30rem - 4rem);
    max-width: 100%;
  }
}
