.navbar {
  width: 100vw;
  max-width: 100vw;

  @include above('md') {
    .navbar__center {
      transform: translateY(1rem);
    }
  }
}

.navbar {
  z-index: 200; // Override body overlay z-index

  height: 3.5rem;

  top: 0; left: 0;

  @extend
    %E-position-fixed,
    %E-transition-base-all;

  @include above('md') {
    height: 8rem;
  };
}

.navbar__inner {
  justify-content: space-between;

  @extend
    %E-container-wide,
    %E-height-full,
    %E-margin-center-x,
    %E-pad-sm;

  @include above('lg') {
    padding: 0;
  }
}

.navbar__inner,
.navbar__right {
  @extend %E-flex-row-center;
}

.navbar__left {
  @include above('md') {
    @extend %E-display-none__md;
  }
}

.navbar__center {
  @extend %E-overflow-hidden;
}

.navbar__list,
.navbar__item {
  @extend %E-display-none;

  @include above('md') {
    @extend %E-display-inline-block__md;
  }
}

.navbar__list,
.navbar__item {
  padding-right: 1rem;
}

////////////////////////////////////////////////////////////
//  Behaviour
////////////////////////////////////////////////////////////

// ** Navbar on **
// ****************************

.navbar.JS-active {
  z-index: 200;

  // box-shadow: 0 0 6px 2px darken(rgba($brand_green, .9), 15%);

  &::after {
    top: 100%;

    // border-top: 1px solid $brand_black_2;

    @extend
      %E-pseudo-elem,
      %E-width-full;
  }

  @extend
    %E-bgc-green;

  @include above('md') {
    height: 3.5rem;

    .navbar__center {
      height: 2rem;

      transform: translateY(0);
      animation: fadeInOut .2s;
    }

    .logo__image--desktop {
      transform: translateY(-90px);
    }
  }
}
