.offcanvas {
  top: 3.5rem;
  left: 0;

  overflow-y: scroll;

  max-width: 30rem;
  height: calc(100vh - 3.5rem);

  transition: transform .4s ease;
  transform: translateX(-100%);

  @extend %u-bgc-brand-black;
  @extend %u-padding-medium;
  @extend %u-position-fixed;
  @extend %u-width-full;
  @include above('medium') {
    @extend %u-display-none__medium;
  }
}

.offcanvas__section {
  list-style: none;

  @extend %u-margin-top-medium;
  @extend %u-position-relative;
}

.offcanvas__section--outer {
  &:nth-child(1n + 2) {
    padding-top: 1rem;

    &::before {
      top: 0;

      border-top: 1px solid lighten($brand_black, 15%);

      @extend %u-pseudo-element-base;
      @extend %u-width-full;
    }
  }
}

.offcanvas__section--research {
  @include accent('green', 'top');
}

.offcanvas__section--about {
  @include accent('green', 'top');
}

.offcanvas__section--resources {
  @include accent('light-green', 'top');
}

.offcanvas__section--intelligence {
  @include accent('light-blue', 'top');
}

body.js-show-offcanvas {
  .site-container {
    opacity: .25;
  }

  .offcanvas {
    transform: translateX(0);
  }
}
