.offcanvas {
  top: 3.5rem;
  left: 0;

  overflow-y: scroll;

  height: calc(100vh - 3.5rem);

  transition: transform .4s ease;
  transform: translateX(-100%);

  @extend %u-padding-medium;
  @extend %u-position-fixed;
  @extend %u-bgc-brand-black;
  @extend %u-width-full;
}

.offcanvas__section {
  list-style: none;

  @include margin('top', 'medium');
}

.offcanvas__section--research {
  @include accent('green', 'top');
}

.offcanvas__section--about {
  @include accent('green', 'top');
}

.offcanvas__section--resources {
  @include accent('light-green', 'top');
}

.offcanvas__section--intelligence {
  @include accent('light-blue', 'top');
}

body.js-show-offcanvas {
  .offcanvas {
    transform: translateX(0);
  }
}
