.panel {
  @extend
    %u-container-y-medium,
    %u-position-relative;

  &::before {
    top: 0;
    left: 50%;

    border-top: 2px  solid $brand_white_1;

    width: 10rem;

    @extend
      %u-absolute-center-x,
      %u-pseudo-element-base;
  }
}

.panel__content {

  @extend
    %u-row,
    %u-flex-row;
}

.panel__carousel {
  @extend %u-container-small;
}

.panel__main,
.panel__aside {
  @extend
    %u-margin-center-x,
    %u-container-small;
}

.panel__main {
  @extend %u-content-main;
}

.panel__aside {
  @extend %u-content-aside;

  img {
    padding: 1rem;
  }
}

// ** Ordering **
// ****************************

.panel--flow {
  &:nth-of-type(odd) {
    background-color: $brand_white_1;

  }

  &:nth-of-type(even) {

    .panel__aside {
      order: 2;
    }
    .panel__main {
      order: 1;
      text-align: right;
    }
  }
}

.panel__aside--order-1,
.panel__aside--stack-1 {
  order: 1;
}

.panel__main--order-2,
.panel__main--stack-2 {
  order: 2;
}

.panel__aside--stack-1 {
  @include above('medium') {
    order: 2;
  }
}

.panel__main--stack-2 {
  @include above('medium') {
    order: 1;
  }
}

.panel__actions {
  @extend %u-margin-top-small;

}

.panel__actions--center {
  @extend %u-flex-row-center;

  justify-content: center;
}
