.panel {
  @extend
    %u-container-y-medium,
    %u-position-relative;

  &::before {
    top: 0;
    left: 50%;

    border-top: 2px  solid $brand_white_1;

    width: 10rem;

    @extend
      %u-absolute-center-x,
      %u-pseudo-element-base;
  }
}

.panel__inner {

  @extend
    %u-row,
    %u-flex-row;
}

.panel__section,
.panel__body,
.panel__side {
  @extend
    %u-margin-center-x,
    %u-container-small;
}

.panel__section {
  max-width: 100%;
}

.panel__header,
.panel__content {
  @extend %u-container-y-small;
}

.panel__header {
  @extend %u-text-align-center;
}

.panel__body {
  @extend %u-content-main;
}

.panel__side {
  @extend %u-content-aside;
}

// ** Ordering **
// ****************************

.panel--flow {
  &:nth-of-type(odd) {
    background-color: $brand_white_1;

  }

  &:nth-of-type(even) {

    .panel__side {
      order: 2;
    }
    .panel__body {
      order: 1;
      text-align: right;
    }
  }
}

.panel__side--order-1,
.panel__side--stack-1 {
  order: 1;
}

.panel__body--order-2,
.panel__body--stack-2 {
  order: 2;
}

.panel__side--stack-1 {
  @include above('medium') {
    order: 2;
  }
}

.panel__body--stack-2 {
  @include above('medium') {
    order: 1;
  }
}

.panel__actions {
  @extend %u-margin-top-small;

}

.panel__actions--center {
  @extend %u-flex-row-center;

  justify-content: center;
}
