.profile {
  padding-bottom: 2rem;

  border-bottom: 2px solid $brand_white_2;

  align-content: flex-start;

  @extend
    %u-flex-row-start,
    %u-border-radius-small;

  @include above('medium') {
    padding-left: 1rem;

    border-bottom: none;
    border-left: 2px solid $brand_white_2;
  }
}

.profile__image {
  height: 4rem;
  border-radius: 50%;

  @extend %u-overflow-hidden;

  & > img {
    height: 100%;
  }
}

.profile__main {
  flex: 1;
  padding-left: 1rem;
}
