.quote {
  max-width: 35rem;
  padding-top: 3.5rem;

  @extend %e-align-cen;
  @extend %e-mgn-auto-x;
  @extend %e-position-relative;
}

.quote__text {
  @extend %e-fz-md;
}

.quote__sym {
  top: 0;

  @extend %e-absolute-center-x;

  &::before,
  &::after {
    top: 50%;

    width: 3rem;

    border-top: 2px solid Get($colorGroups, orange, 2);

    @extend %e-pseudo-elem;
  }

  &::before {
    left: -100%;
  }

  &::after {
    left: 100%;
  }
}

.quote__biog {
  @extend .label-xs;
  @extend %e-position-relative;
  @extend %e-pad-t-sm;
  @extend %e-mgn-t-sm;

  &::before {
    left: 50%;

    width: 5rem;

    transform: translateX(-50%);

    border-top: 2px solid Get($colorGroups, white, 3);

    @extend %e-pseudo-elem;
  }

  & > span {
    @extend %e-display-block;
  }
}

.quote__logo {
  height: 5rem;

  @extend %e-mgn-t-sm;
  @extend %e-mgn-auto-x;

  & > img {
    max-width: 10rem;

    @extend %e-height-full;
  }
}
