.side-card,
.side-card__image,
.side-card__content {
  height: 9rem;
}

.side-card {
  @extend
    %E-bgc-brand-white-1,
    %E-overflow-hidden,
    %E-transition-base-all,
    %E-border-radius-small;

  &:nth-child(1n + 2) {
    @extend %E-margin-top-xsmall;
  }
}

.side-card--events        { @extend %E-accent-medium-brand-blue-left; }
.side-card--blog          { @extend %E-accent-medium-brand-brown-left; }
.side-card--innovation    { @extend %E-accent-medium-brand-light-blue-left; }
.side-card--resources,
.side-card--publications  { @extend %E-accent-medium-brand-light-green-left; }
.side-card--research      { @extend %E-accent-medium-brand-green-left; }

.side-card__inner {
  @extend %E-flex-row-start;
}

.side-card__image {
  width: 114.5px;

  @extend
    %E-flex-row-center,
    %E-position-relative;

  > img {
    @extend
      %E-display-block,
      %E-height-full;
  }
}

.side-card__image--overlay {
  @extend %E-overlay-medium;
}

.side-card__image--events {
  @extend
    %E-bgc-brand-blue,
    %E-color-brand-white;
}

.side-card__content {
  flex: 1;
  padding: 1rem 1rem 1rem .5rem;
}

.side-card__meta {
  height: 1rem;
}
