.side-card,
.side-card__image,
.side-card__content {
  height: 9rem;
}

.side-card {
  @extend %e-bgc-light-grey;
  @extend %e-mgn-b-xs;
  @extend %e-overflow-hidden;
  @extend %e-trans-core;
  @extend %e-rad-slight;
}

.side-card--events {
  @extend %e-acc-blue-left;
}

.side-card--blog {
  @extend %e-acc-brown-left;
}

.side-card--innovation {
  @extend %e-acc-light-blue-left;
}

.side-card--resources,
.side-card--publications {
  @extend %e-acc-light-green-left;
}

.side-card--research {
  @extend %e-acc-green-left;
}

.side-card--featured {
  @extend %e-bgc-black;
}

.side-card__inner {
  @extend %e-flex-row-start;
}

.side-card__image {
  @extend %e-flex-row-center;
  @extend %e-position-relative;

  > img {
    @extend %e-display-block;
    @extend %e-height-full;
  }
}

.side-card__image--overlay {
  @extend %e-overlay-medium;
}

.side-card__image--events {
  @extend %e-bgc-blue;
  @extend %e-col-white;
}

.side-card__content {
  flex: 1;

  padding: 2rem 1rem 1rem .5rem;

  @extend %e-position-relative;
}

.side-card__meta {
  top: .25rem;
  left: .5rem;

  @extend %e-position-absolute;
}

.side-card__actions {
  @extend %e-pad-t-xs;
}
