.side-card,
.side-card__inner,
.side-card__image,
.side-card__title {
  height: 9rem;
}

.side-card {
  @extend %e-bgc-light-grey;
  @extend %e-mgn-b-xs;
  @extend %e-overflow-hidden;
  @extend %e-rad-slight;
}

.side-card--events {
  @extend %e-acc-blue-left;
}

.side-card--blog {
  @extend %e-acc-brown-left;
}

.side-card--intelligence {
  @extend %e-acc-light-blue-left;
}

.side-card--resources,
.side-card--publications {
  @extend %e-acc-light-green-left;
}

.side-card--research {
  @extend %e-acc-green-left;
}

.side-card--featured {
  @extend %e-bgc-dark-grey;
}

.side-card__inner {
  @extend %e-flex-row-start;
  @extend %e-position-relative;
}

.side-card__image {
  width: 6.36rem; // side card image ratio
  margin-left: -.16665rem;

  @extend %e-flex-row-center;
  @extend %e-overflow-hidden;
  @extend %e-position-relative;

  & > img {
    min-height: 1px; // Fix Safari height issues on lazy images

    @extend %e-display-block;
    @extend %e-height-full;
  }
}

.side-card__image--overlay {
  @extend %e-bgc-green;
}

.side-card__image--intelligence,
.side-card__image--events {
  @extend %e-col-white;
}

.side-card__image--events {
  @extend %e-bgc-blue;
}

.side-card__image--intelligence {
  @extend %e-bgc-light-blue;
}

.side-card__title {
  width: calc(100% - 6.36rem);

  padding: 2.5rem 1rem 1rem .5rem;

  @extend %e-height-full;
  @extend %e-position-relative;


}

.side-card__label,
.side-card__actions {
  position: absolute;
  left: 6.75rem;
}

.side-card__label {
  top: 1rem;
}

.side-card__actions {
  bottom: 1rem;
}

/*		=Behaviour
  ========================================================================== */

.side-card {
  .b-lazy.b-loaded {
    @extend %e-animate-fade-in-load;
  }
}
