.social {
  width: 2rem;
  height: 2rem;

  border: 2px solid $brand_orange;

  @extend
    %u-border-radius-small,
    %u-display-inline-block,
    %u-transition-base-all,
    %u-position-relative;

  &:hover {
    @extend %u-bgc-brand-orange;

    svg {
      fill: $brand_white;
    }
  }

  & > span {
    margin-top: -1px;
    @extend %u-absolute-center-xy;
  }
}

.social--group {
  @extend %u-grid-flow__item--xsmall;
}
