.social {
  width: Get($btn, size, md);
  height: Get($btn, size, sm);

  border: 2px solid Get($colors, primary, orange);

  @extend %E-col-orange;
  @extend %E-flex-row-center;
  @extend %E-rad-slight;
  @extend %E-trans-core;

  &:hover {
    @extend %E-bgc-orange;
    @extend %E-col-white;


    svg {
      fill: currentColor;
    }
  }

  & > svg {
    @extend %E-mgn-auto-x;
  }
}
