.social {
  width: 2rem;
  height: 2rem;

  // border: 2px solid $brand_orange;

  @extend
    %E-rad-slight,
    %E-display-inline-block,
    %E-transition-base-all,
    %E-position-relative;

  &:hover {
    @extend %E-bgc-orange;

    svg {
      // fill: $brand_white;
    }
  }

  & > span {
    margin-top: -1px;
    @extend %E-absolute-center-xy;
  }
}

.social--group {
  @extend %E-grid-flow__item--xs;
}
