.staff-card__header,
.staff-card__content {
  @extend %e-align-cen;
}

.staff-card {
  width: calc(100% - 3px); // allow vertical box shadow
  max-width: 25rem;

  @extend %e-bgc-white-1;
  @extend %e-box-shad-z2;
  @extend %e-acc-brand-green-2-top;
  @extend %e-mgn-auto-x;
  @extend %e-overflow-hidden;
  @extend %e-rad-slight;
}

.staff-card__header {
  border-bottom: 1px solid Get($colorGroups, white, 2);

  @extend %e-pad-sm;

  & > img {
    width: 6rem;

    @extend %e-rad-circ;
  }
}

.staff-card__content {
  padding: 1rem;
}

.staff-card__name,
.staff-card__role {
  @extend %e-display-block;
}

.staff-card__name {
  @extend %e-col-brand-green-2;
  @extend %e-fz-md;
}

.staff-card__role {
  @extend %e-col-black-3;
  @extend %e-fz-sm;
}

.staff-card__link {
  @extend .link;
}
