.title {
  margin: 0;
}

.title--flow {
  margin-top: 1em;
}

.title--small {
  font-size: 1.25rem;
}

.title--tiny,
.title--secondary {
  font-size: 1rem;
}

.title--secondary {
  text-transform: uppercase;
  font-weight: 400;
  opacity: .25
}

.title--white {
  color: $brand_white;
}
