/*		=Font face
  ========================================================================== */

// Fonts
@each $typeKey, $typeVal in map-get($type, font-primary) {
  $fontPath: map-get($path, fonts);
  $fontFamily: map-get($typeVal, family);

  @font-face {
    font-family: "#{ map-get($typeVal, family) }";

    src: url("#{ $fontPath }/#{ $fontFamily }.eot");
    src: url("#{ $fontPath }/#{ $fontFamily }.woff2") format("woff2"),
         url("#{ $fontPath }/#{ $fontFamily }.woff") format("woff"),
         url("#{ $fontPath }/#{ $fontFamily }.ttf") format("truetype"),

         url("#{ $fontPath }/#{ $fontFamily }.svg##{ $fontFamily }") format("svg"),
         url("#{ $fontPath }/#{ $fontFamily }.eot?#iefix") format("embedded-opentype");

    font-weight: normal;
    font-style: normal;
  }
}

/*		=Titles
  ========================================================================== */

@each $sizeKey, $sizeVal in map-get($type, sizes) {

  .title-#{ $sizeKey },
  .strap-#{ $sizeKey },
  .label-#{ $sizeKey } {
    @extend %e-fz-#{ $sizeKey };
  }

  .title-#{ $sizeKey } {
    @extend %e-ff-prim-heavy;
  }

  .strap-#{ $sizeKey },
  .label-#{ $sizeKey },
  .cross-head-#{ $sizeKey } {
    @extend %e-ff-prim-medium;
  }

  .strap-#{ $sizeKey },
  .label-#{ $sizeKey } {
    @extend %e-col-current;
  }

  .label-#{ $sizeKey } {
    @extend %e-upper;
  }

  .cross-head-#{ $sizeKey } {
    @extend %e-col-mid-grey;
    @extend .label-#{ $sizeKey };
  }
}

// Side title
.side-title {
  @extend .title-sm;
  @extend %e-col-green;
  @extend %e-mgn-b-xs;

  &:not(:first-child) {
    @extend %e-mgn-t-sm;
  }
}

/*		=Links
  ========================================================================== */

.link,
.link-white {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  @extend %e-trans-core;

  &:hover {
    border-bottom: 2px solid Get($colors, secondary, current);
  }
}

.link {
  border-bottom: 2px solid rgba(Get($colors, primary, green), .15);

  @extend %e-col-green;
}

.link-white {
  border-bottom: 2px solid rgba(Get($colors, greyscale, white), .15);

  @extend %e-col-white;
}

/*		=Misc
  ========================================================================== */

strong {
  @extend %e-ff-prim-medium;
}
