////////////////////////////////////////////////////////////
//  Shared
////////////////////////////////////////////////////////////

.title--center,
.byline--center {
  text-align: center;
}


////////////////////////////////////////////////////////////
//  Titles
////////////////////////////////////////////////////////////

// ** Title **
// ****************************

.title {

  @extend
    %u-color-brand-green,
    %u-display-block,
    %u-font-avenir-700-normal;
}

.title--xsmall { @extend %u-font-size-xsmall; }
.title--small  { @extend %u-font-size-small; }
.title--medium { @extend %u-font-size-medium; }
.title--large  { @extend %u-font-size-large; }
.title--xlarge { @extend %u-font-size-xlarge; }

.title--white  { @extend %u-color-brand-white; }

// ** Alt title **
// ****************************

.alt-title {
  text-transform: uppercase;

  @extend
    %u-color-brand-black-2,
    %u-display-block;
}

.alt-title--xs { font-size: .625rem; }
.alt-title--sm { font-size: 1rem; }
.alt-title--md { font-size: 1.125rem; }
.alt-title--lg { font-size: .625rem; }
.alt-title--xl { font-size: .625rem; }

////////////////////////////////////////////////////////////
//  Paragraphs
////////////////////////////////////////////////////////////

.byline {
  @extend %u-font-size-byline;

  &:not(:first-child) {
    @extend %u-margin-top-small;
  }
}

.link {
  border-bottom: 1px solid rgba($brand_green, .2);

  font-weight: bold;

  @extend
    %u-color-brand-green,
    %u-transition-base-all;

  &:hover {
    border-bottom: 1px solid $brand_green;
  }
}
