- entryData = local_data[:entry_data]

- hasFullBanner = ["landing_page", "home"].include? entryData[:TYPE]
- isChildPage = entryData[:TYPE] == "child_page"
- isHomepage = entryData[:TYPE] == "home"
- isLandingPage = entryData[:TYPE] == "landing_page"

header.banner{
  class="JS-banner--#{ hasFullBanner ? "full" : "semi" }"
  style="height: #{ hasFullBanner ? "100vh" : "66.6666vh" };"
}

  / Image
  = partial "views/partials/banner/image",
    locals: { local_data: { \
      entry_data: entryData }}

  / Content wrapper
  .banner__inner{
    class="#{ "banner__inner--overlap" if isChildPage }"
  }

    / Content
    .banner__content{
      class="#{ "e-mgn-auto-x banner__content--lp banner__content--text-bg" if hasFullBanner }"
    }

      - if isChildPage
        span.label-xs #{ entryData[:meta_label] }

      / Title
      h1{
        class="#{ hasFullBanner ? "title-xxl" : "title-xl" }"
      }= entryData[:title]

      - if hasFullBanner
        p.banner__strap= entryData[:subtitle]

      / Actions
      - if isLandingPage && entryData[:calls_to_action] != nil
        .grid.grid--xs.grid--above-sm-center.e-mgn-t-sm
          - entryData[:calls_to_action].each do |cta|
            .grid__cell

              / Download
              - if cta[:TYPE] == "cta_download"
                = partial "views/partials/btn",
                  locals: { local_data: \
                    { type: "link", size: "lg", style: "primary",
                      label: cta.button_text, label_size: "lg", url: cta[:file][:url] }}

              / Modal
              - if cta[:TYPE] == "cta_modal"
                - modalID = cta[:modal][:cta_id]
                - modalContent = cta[:modal][:content]
                - btnText = cta[:button_text]

                / Modal button
                = partial "views/partials/btn",
                  locals: { local_data: \
                    { type: "state",
                      size: "lg", style: "primary",
                      label_on: btnText, label_off: "Close",
                      label_size: "lg",
                      page: "no-scroll", switch: true,
                      aria_id: "activate-#{ modalID }",
                      aria_target_id: modalID }}

      - if isHomepage
        .grid.grid--xxs.grid--above-sm-center.e-mgn-t-sm
          = partial "views/partials/social",
            locals: { local_data: \
              { icons: [siteData(:twitter), siteData(:linkedin), siteData(:facebook)] }}

  / Scroll down
  - if hasFullBanner
    a#arrow.banner__scroll{ href="#arrow-dest" }
      = partial "views/partials/icon",
        locals: \
        { icon: "ios-arrow-thin-down",
          size: "sm" }

  / Modal content (here to avoid banner__inner transform cascade)
  - if isLandingPage && entryData[:calls_to_action] != nil
    - entryData[:calls_to_action].each do |cta|
      - if cta[:TYPE] == "cta_modal"
        - modalID = cta[:modal][:cta_id]
        - modalContent = cta[:modal][:content]
        - modalForm = cta[:modal][:form]
        - modalWidth = modalForm ? "narrow" : false

        = partial "views/partials/modal",
          locals: { local_data: \
          { id: modalID,
            content: modalContent,
            form: (modalForm ? modalForm : false),
            size: modalWidth }}

span#arrow-dest{ aria-hidden="true" }
