<%
entryData = local_data[:entry_data]
%>

<header
  class="banner JS-banner--semi"
  style="height: 75vh;">

  <%= partial "views/partials/banner/image",
    locals: { local_data: {
      entry_data: entryData }} %>

  <div class="banner__inner banner__inner--cp">
    <div class="banner__content banner__content--cp">
      <div class="banner__content-inner-cp">
        <span class="label-xs e-mgn-b-xs e-pad-y-xs e-pad-x-xxs e-acc-<%= catColor(entryData[:category]) %>-2 e-col-greyscale-0"><%= entryData[:meta_label] %></span>
        <h1 class="banner__title title-lg"><%= entryData[:title] %></h1>
      </div>
</header>
