/*		=Get nested map
  ========================================================================== */

@function Get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

/*		=Merge multiple maps
  ========================================================================== */

@function Merge($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }

  @return $collection;
}
