<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="<%= assetsDir + config[:CSS_VENDOR] %>" rel="stylesheet">
    <link href="<%= assetsDir + config[:CSS_APP] %>" rel="stylesheet">
    <title>Fetch content - not indexed</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
