
$shadow: (
  box: (
    z1: (
      0 2px 2px rgba(0,0,0,0.075),
      0 6px 6px rgba(0,0,0,0.075)
    ),
    z2: (
      0 14px 28px rgba(0,0,0,0.075),
      0 10px 10px rgba(0,0,0,0.1)
    ),
    z3: (
      0 19px 38px rgba(0,0,0,0.075),
      0 15px 12px rgba(0,0,0,0.1)
    )
  ),
  text: (
    z1: (
      0 0 1rem rgba(Get($colorGroups, black, 2), .3333)
    ),
    z3: (
      0 8px 8.896px rgba(0, 0, 0, .3), 0 -2px 0 rgba(0, 0, 0, .3)
    )
  )
);
