
$shadow: (
  box: (
    z1: (
      // 1px 1px 0 Get($colorGroups, white, 2),
      // -1px -1px 0 Get($colorGroups, white, 2),
      0 .125rem 1rem -0.125rem rgba(10, 10, 10, .1),
      0 1rem 1rem -0.75rem rgba(10, 10, 10, .2)
    ),
    z3: (
      // 1px 1px 0 Get($colorGroups, white, 2),
      // -1px -1px 0 Get($colorGroups, white, 2),
      1px 0 10px 1px rgba(10, 10, 10, .05),
      0 3rem 3rem -1rem rgba(10, 10, 10, .1)
    )
  ),
  text: (
    z1: (
      0 0 1rem rgba(Get($colorGroups, black, 2), .3333)
    ),
    z3: (
      0 0 1rem rgba(Get($colorGroups, black, 1), .45)
    )
    // TRY: 0 8px 8.896px #0000002b, 0 -2px 1px #0000003b;
  )
);
