////////////////////////////////////////////////////////////
//	Palette
////////////////////////////////////////////////////////////

$colors: (
  primary: (
    black:         #1d252d,
    blue:          #236192,
    brown:         #8f3237,
    green:         #00685e,
    light-blue:    #6ba4b8,
    light-brown:   #ae8a79,
    light-green:   #80967a,
    orange:        #f57300
  ),
  secondary: (
    current:       currentColor,
    dark-orange:   #dc6700
  ),
  greyscale: (
    white:         #fefefe,
    light-grey:    #f1f1f1,
    dark-grey:     #45586b
  )
);

