////////////////////////////////////////////////////////////
//  Type - Config
////////////////////////////////////////////////////////////

$type: (
  line-height: 1.5,
  sizes: (
    base: 18px,
    xs:   .875rem,
    sm:   1rem,
    by:   1.25rem,
    md:   1.5rem,
    lg:   1.75rem,
    xl:   2.25rem
  ),
  primary: (
    light: (
      name:   'Avenir Light',
      weight: 200,
      style:  normal,
      file:   'AvenirLTStd-Light.otf'
    ),
    light-italic: (
      name:   'Avenir Light Oblique',
      weight: 200,
      style:  oblique,
      file:   'AvenirLTStd-LightOblique.otf'
    ),
    book: (
      name:   'Avenir Book',
      weight: 300,
      style:  normal,
      file:   'AvenirLTStd-Book.otf'
    ),
    book-italic: (
      name:   'Avenir Book Oblique',
      weight: 300,
      style:  oblique,
      file:   'AvenirLTStd-BookOblique.otf'
    ),
    heavy: (
      name:   'Avenir Heavy',
      weight: 800,
      style:  normal,
      file:   'AvenirLTStd-Heavy.otf'
    ),
    heavy-italic: (
      name:   'Avenir Heavy Oblique',
      weight: 800,
      style:  oblique,
      file:   'AvenirLTStd-HeavyOblique.otf'
    )
  )
);
