///////////////////////////////////////////////////////////
//  =Box model
////////////////////////////////////////////////////////////

//  =Margins
//////////////////////////////

// Base

%u-margin-0          { margin: 0 }
%u-margin-top-xsmall { margin-top: .5rem; }
%u-margin-top-small  { margin-top: 1rem; }
%u-margin-top-medium { margin-top: 2rem; }

// Center

%u-margin-center-x {
  margin-left: auto;
  margin-right: auto;
}

// Center @ screen

@each $screen in map-keys($breakpoints) {
  @include above('#{ $screen }') {

    %u-margin-center-x__#{ $screen } {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//  =Padding
//////////////////////////////

// All

%u-padding-xsmall { padding: .5rem; }
%u-padding-small  { padding: 1rem; }
%u-padding-medium { padding: 2rem; }
%u-padding-large  { padding: 3rem; }

// Vertical (Y)

%u-padding-y-xsmall { padding: .5rem 0; }
%u-padding-y-small  { padding: 1rem 0; }
%u-padding-y-medium { padding: 2rem 0; }
%u-padding-y-large  { padding: 3rem 0; }

// Horizontal (X)

%u-padding-x-xsmall { padding: 0 .5rem; }
%u-padding-x-small  { padding: 0 1rem; }
%u-padding-x-medium { padding: 0 2rem; }
%u-padding-x-large  { padding: 0 3rem; }

// Sides

%u-padding-top-small  { padding-top: 1rem; }
%u-padding-top-medium { padding-top: 2rem; }

//  =Borders
//////////////////////////////

// Accents

@each $name, $color in $colors {

  @each $side in map-get($properties, origins) {

    %u-accent-small-#{ str-replace($name, '_', '-') }-#{ $side } {
      border-#{ $side }: 2px solid map-get($colors, $name);
    }

    %u-accent-medium-#{ str-replace($name, '_', '-') }-#{ $side } {
      border-#{ $side }: 4px solid map-get($colors, $name);
    }

    %u-accent-large-#{ str-replace($name, '_', '-') }-#{ $side } {
      border-#{ $side }: 6px solid map-get($colors, $name);
    }
  }
}

// Border radius

%u-border-radius-small { border-radius: 2px; }
