////////////////////////////////////////////////////////////
//  =Width/ Height
////////////////////////////////////////////////////////////

%u-width-full     { width: 100%; }
%u-width-full-vw  { width: 100vw; }
%u-height-full    { height: 100%; }
%u-height-full-vh { height: 100vh; }
%u-max-width-full { max-width: 100%; }
