<select class="form__field" required="required">
  <option
    class="e-col-greyscale-2"
    value=""
    disabled=""
    selected=""
    hidden=""
  >Please select...</option>
  <% siteData(:checkout_countries_list).each do |cty| %>
    <option value="<%= cty %>"><%= cty %></option>
  <% end %>
</select>
