  <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
    id="checkout-button-sku_F49veL6MiEjy2k"
    role="link"
  >
    Checkout
  </button>

  <div id="error-message"></div>
