<%
formData = form_data
%>

<label class="e-zzz">
  <span>Please skip this field: </span>
  <input type="email" name="r2d2-03">
</label>

<% formData[:elements].each do |elem|
  labelNameCap = elem[:label].capitalize.gsub("-", " ")
  isNotInput = ["textarea"].include?(elem[:input_type])

  fieldTag = isNotInput ? "textarea" : "input"

  fieldAttrs = {
    "class": "form__field",
    "type": (elem[:input_type] if !isNotInput),
    "placeholder": labelNameCap + "…",
  }.compact

  fieldAttrs.merge!(required: "") if elem[:required] %>

  <label class="e-width-full">
    <span class="form__label label-xs"><%= labelNameCap %></span>
    <span><%= tag(fieldTag, fieldAttrs) %></span>
    <span class="form__err">Please review this field</span>
  </label>
<% end %>

<div class="e-mgn-t-sm">
  <%= partial "views/partials/btn",
  locals: { local_data: {
    type: "plain",
    size: "sm",
    style: "primary",
    label: "Submit",
    label_size: "sm",
    form: true }} %>
</div>
