////////////////////////////////////////////////////////////
//  Variables
////////////////////////////////////////////////////////////

- @date_data      = local_data[:date_data]

////////////////////////////////////////////////////////////
//  Date
////////////////////////////////////////////////////////////

.date
  span.date__d= @date_data[:day]
  span.date__tmy= @date_data[:month] + ' ' + @date_data[:year]
  span.date__tmy= @date_data[:time]
