- partialData = local_data[:ext_link_data]

article.ext-link
  h1.ext-link__inner.title-sm

    / Meta
    span.ext-link__text.label-xs.e-col-mid-grey{ aria-hidden="true"}= partialData[:outlet]

    / Icons
    span.ext-link__icon{ aria-hidden="true"}
      = partial "views/partials/icon",
        locals: { icon:  (\
            ("ios-paper" if partialData[:category] == "article") || \
            ("android-download" if partialData[:category] == "download") || \
            ("headphone" if partialData[:category] == "audio") || \
            ("ios-videocam" if partialData[:category] == "video") || \
            ("ios-book" if partialData[:category] == "book")),
          size:  "xs",
          color: "green" }

    a.ext-link__text{ href="#{ partialData[:url] }" }
      span.link.u-font-sm= partialData[:title]
