- entryData = local_data[:entry_data]
- category = entryData[:category]

- imageURL = entryData[:banner_image][:url]
- imageFocus = entryData[:banner_image][:focus]
- imageAlt = entryData[:banner_image][:alt]

- title = entryData[:title]
- introduction = entryData[:introduction]
- metaLabel = entryData[:meta_label]
- accent = "e-acc-#{ catColor(category) }-2-top"

- featuredCard = local_data[:featured]

- mainCardInnerElem = { \
  tag: (category ? 'a' : 'div'),
  href: category ? internalURL(entryData[:slug]) : nil }

/ p= entryData

article.main-card{ class="#{ accent }" }

  - if featuredCard
    span.main-card__featured-icon
      = partial 'views/partials/icon',
        locals: { icon: "android-star-outline",
                  size: "sm" }

  *mainCardInnerElem

    / Header
    header.main-card__header.e-col-greyscale-0

      .main-card__image
        img.b-lazy{
          src="#{ assetsDir }/images/placeholder__main-card.svg"
          data-src="#{ imageURL }?fit=fill&w=563&h=317&f=#{ imageFocus }&q=50&fl=progressive"
          alt="#{ imageAlt }"
        }
        .main-card__title
          span.label-xs.e-mgn-b-xxs= metaLabel
          h1.title-md= truncate(title, { num: 99 })

      / .main-card__meta


    / Introduction
    section.main-card__introduction
      p= truncateHtml(markdown(introduction), { num: 139 })
