- id = local_data[:id]
- navItems = local_data[:nav_items]
- screen = local_data[:screen]

.menu.e-col-greyscale-0.JS-inactive{
  class="menu--#{ screen } "
  id= id
}
  .menu__nav-bg
  ul.menu__container{
    class="#{ "menu__container--columns" if screen == "desktop" }"
  }

    ////////////////////////////////////////////////////////
    // Mobile
    ////////////////////////////////////////////////////////

    - if screen == "mobile"
      - navItems.each do |id, nav|
        li.menu__category.menu__category--outer{
          class="#{ "dropdown" if nav[:pages] && nav[:pages].length > 1 }"
        }

          .title-md{
            class="#{ "dropdown__title" if nav[:pages] && nav[:pages].length > 1 }"
          }

            / If navigation item contains one or no pages
            - if nav[:pages] && nav[:pages].length <= 1
              - nav[:pages].each do |page|
                a{
                  href="#{ internalURL(page[:slug]) }"
                }= nav[:title]

            / If navigation item contains more than one page
            - if nav[:pages] && nav[:pages].length > 1
              = nav[:title]

              .dropdown__control

                / dropdown control
                = partial "views/partials/btn",
                  locals: { local_data: \
                    { type: "state", size: "sm",
                      icon: "chevron-down", icon_size: "xs",
                      animation: "rotate",
                      aria_id: "activate-menu-dropdown-#{ nav[:title].parameterize }",
                      aria_target_id: "menu-dropdown-#{ nav[:title].parameterize }" }}

          ul{
            class="#{ "dropdown__content JS-inactive" if nav[:pages] }"
            id="menu-dropdown-#{ nav[:title].parameterize }"
          }

            / Group pages by category
            - if nav[:pages]
              - nav[:pages].group_by(&:category).each do |category, pages|
                - pagesWithSubCats = pages.select{ |page| page[:sub_category] }
                - pagesWithoutSubCats = pages.select{ |page| !page[:sub_category] }


                li.menu__category{
                  class="menu__category--#{ category.parameterize }"
                }
                  span.label-sm.e-pad-t-xs.e-col-mid-grey= category
                  ul

                    / Pages without subcategories
                    - if pagesWithoutSubCats
                      - pagesWithoutSubCats.each do |page|
                        li.e-pad-t-xs
                          a.title-sm.link-white{
                            href="#{ internalURL(page[:slug]) }"
                          }= page[:title]

                    / Pages with sub-categories
                    - if pagesWithSubCats
                      - pagesWithSubCats.group_by(&:sub_category).each do |subCat, subCatPages|
                        li
                          span.label-xs.e-pad-t-sm.e-col-mid-grey= subCat
                          ul
                            - subCatPages.each do |page|
                              li.e-pad-t-xs
                                a.title-sm.link-white{
                                  href="#{ internalURL(page[:slug]) }"
                                }= page[:title]

    ////////////////////////////////////////////////////////
    // Desktop
    ////////////////////////////////////////////////////////

    - if screen == "desktop" && navItems[:pages]

      - navItems.pages.group_by(&:category).each do |category, pages|
        - pagesWithSubCats = pages.select{ |page| page[:sub_category] }
        - pagesWithoutSubCats = pages.select{ |page| !page[:sub_category] }

        li.menu__column.e-pad-t-xs{
          class="menu__column--#{ category.parameterize }"
        }
          span.label-sm.e-col-mid-grey= category

          ul

            / Pages without subcategories
            - if pagesWithoutSubCats
              - pagesWithoutSubCats.each do |page|
                li.e-pad-t-xs
                  a.title-sm.link-white{
                    href="#{ internalURL(page[:slug]) }"
                  }= page[:title]

            / Pages with sub-categories
            - if pagesWithSubCats
              - pagesWithSubCats.group_by(&:sub_category).each do |subCat, subCatPages|
                li
                  span.label-xs.e-pad-t-sm.e-col-mid-grey= subCat
                  ul
                    - subCatPages.each do |page|
                      li.e-pad-t-xs
                        a.title-sm.link-white{
                          href="#{ internalURL(page[:slug]) }"
                        }= page[:title]

        - if category == "about"
          li.menu__column.e-acc-brand-green-2-top
            .section-sm
              = partial "views/partials/signup-box",
                locals: { local_data: \
                  { copy_size: "sm",
                    id: "modal-monthly-newsletter-subscription-desktop" }}

            .section-sm
              = partial "views/partials/social-follow",
                locals: { bgc: "dark" }

  ////////////////////////////////////////////////////////
  // Custom content
  ////////////////////////////////////////////////////////

  / mobile
  - if screen == "mobile"

    / Newsletter signup
    .section-sm
      = partial "views/partials/signup-box",
        locals: { local_data: \
          { copy_size: "sm",
            id: "modal-monthly-newsletter-subscription-mobile" }}

    / Social follow
    .section-sm
      = partial "views/partials/social-follow",
        locals: { bgc: "dark" }

