////////////////////////////////////////////////////////////
//  Variables
////////////////////////////////////////////////////////////

- accordianData = local_data[:accordian_data]
- title = accordianData[:title]
- ctaID = accordianData[:cta_id]
- callsToAction = accordianData[:calls_to_action]

section.accordian{
  class="#{
    "accordian--ctas" if callsToAction
  }"
}

  .accordian__header
    h3.title-sm.e-col-green= title

    .accordian__control.e-col-green
      = partial "views/partials/btn",
        locals: { local_data: \
          { type: "state", size: "sm",
            icon: "chevron-down", icon_size: "xs",
            animation: "rotate",
            aria_id: "activate-#{ ctaID }", aria_target_id: "#{ ctaID }" }}

  .accordian__expand.JS-inactive{
    id="#{ ctaID }"
  }
    .accordian__content

      / Calls to action
      - if callsToAction
          - callsToAction.each do |cta|

            .accordian__cta

              / Download
              - if cta.TYPE == "cta_download"
                = partial "views/partials/btn",
                  locals: { local_data: \
                    { type: "link", size: "sm", fill: true, style: "primary",
                      label: cta.button_text, label_size: "sm", url: cta.file.url }}
