<% dateData = local_data[:date_data] %>

<div class="date <%= "date--side-card" if local_data[:context] == "side-card" %>">
  <span class="date__d"><%= dateData[:day] %></span>
  <span class="date__tmy"><%= dateData[:month] + " " + dateData[:year] %></span>
  <span class="date__tmy"><%= dateData[:time] %></span>
</div>
