- feedData = local_data[:entry_data]
- context = local_data[:context]
- isDynamic = context == "dynamic"

- imgURL = "#{ feedData[:banner_image][:url] }?fit=fill&w=300&h=300&f=#{ feedData[:banner_image][:focus] }&q=50&fl=progressive"
- imgAlt = feedData[:banner_image][:alt]

- if isDynamic == true
  - imgAttrs = { \
    class: "b-lazy",
    src: "/#{ assetsDir }/images/svg/sprite.symbol.svg#images",
    "data-src": imgURL,
    alt: imgAlt }

- else
  - imgAttrs = { src: imgURL, alt: imgAlt }

article.feed-item
  .feed-item__img
    img{ *imgAttrs }
  .feed-item__content
    span.label-xs.e-col-mid-grey= feedData[:meta_label]
    h1.title-md
      a.link{
        href="#{ internalURL(feedData[:slug]) }"
      }= feedData[:title]
