- formData = local_data[:entry_data]
- formTitle = formData[:meta_title].parameterize + "-" + formData[:ID]

form.form{
  name="#{ formTitle }"
  data-netlify-honeypot="bot-field"
  action="thank-you"
  data-netlify="true"
}

  / Main form body
  .form__main

    / Bot honeypot
    label.e-hidden{ aria-hidden="true" }
      span Don't fill this out!
      input{ name="bot-field" }

    / Main fields
    - formData[:elements].each do |elem|
      - labelCap = elem[:label].capitalize.gsub("-", " ")
      - isNotInput = ["textarea"].include?(elem[:input_type])

      - if isNotInput
        - fieldTag = "textarea"
      - else
        - fieldTag = "input"

      - fieldAttrs = {\
        tag: fieldTag,
        class: "form__field",
        type: (elem[:input_type] if !isNotInput),
        name: elem[:label],
        placeholder: labelCap + "…" }.compact
      - fieldAttrs.merge!(required: "") if elem[:required]

      label.form__label
        span.e-hidden= labelCap + ": "
        *fieldAttrs
        span.form__err Please review this field

    = partial "views/partials/btn",
      locals: { local_data: \
        { type: "plain",
          size: "md", style: "primary",
          label: "Submit", label_size: "md",
          form: true }}

  .form__confirmation
    h2.title-lg.e-col-brand-green-2 Success!
    .e-mgn-t-sm
      = markdown(formData[:confirmation])
    .e-mgn-t-sm
      = partial "views/partials/social-follow",
        locals: { local_data: \
          { light_bg: false }}

  .form__error
    h2.title-lg.e-col-brand-green-2= ":( Oops! Sorry, something went wrong..."
    p.e-mgn-t-sm Please reload the page and try again.
