- @image_data = local_data[:image_data]

- @feature = local_data[:feature]

- @url = @image_data[:url]
- @alt = @image_data[:alt]
- @focus = @image_data[:focus]
- @caption = @image_data[:caption]

figure.image{
  class="#{ "image--feature" if  @feature }"
}

  img.image__img{
    src="#{ @url + (@focus ? "?fit=fill&w=563&h=317&f=" + @focus : "") }"
    alt="#{ @alt }"
  }

  - if @caption == true
    figcaption.image__caption.label-xs= @alt
