<a class="logo" href="/">
  <% data.hs.universal(0).each do |id, site| %>
    <img
      alt="Hansard Society logo"
      class="logo__image logo__image--mobile"
      src="<%= site.logo.mobile.url %>"/>
    <img
      alt="Hansard Society logo"
      class="logo__image logo__image--desktop"
      src="<%= site.logo.desktop.url %>"/>
  <% end %>
</a>
