////////////////////////////////////////////////////////////
//  Variables
////////////////////////////////////////////////////////////

- @order_nav  = [ "Our work", "About", "Blog", "Events", "Scholars" ]
- @sort_nav   = data[:hs].navigation.sort_by{ |k, v| @order_nav.index(v[:title]) }

////////////////////////////////////////////////////////////
//  Navbar
////////////////////////////////////////////////////////////

nav#navbar.navbar.JS-inactive

  .navbar__inner

    .navbar__left

      / Menu (mobile)
      = partial "views/partials/menu",
        locals: { local_data: \
          { id: "menu-mobile",
            screen: "mobile",
            nav_items: @sort_nav }}

      / Menu button (mobile)
      = partial "views/partials/btn",
        locals: { local_data: \
          { type: "state", size: "sm",
            page: "no-scroll", secondary_target: "navbar",
            icon: "menu", icon_size: "md",
            aria_id: "activate-menu-mobile", aria_target_id: "menu-mobile" }}

    / Logo
    .navbar__center
      =partial "views/partials/logo"

    .navbar__right

      ul.navbar__list

        - @sort_nav.each do |id, nav|

          / Base ID for menu and menu button (drop-down)
          - @menu_desktop_id_base = "menu-desktop-" + nav[:title].parameterize

          li.navbar__item.title-sm.e-col-greyscale-0{
            class="#{ "navbar__item--solo" if (nav[:pages] && nav[:pages].length <= 1) || (nav[:external_url]) }"
          }

            / If navigation item contains one or no pages
            - if nav[:pages] && nav[:pages].length <= 1
              - nav[:pages].each do |page|
                a.title-sm{
                  href="#{ internalURL(page[:slug]) }"
                  title="#{ nav[:title] + " | " + config[:SITE_TITLE] }"
                }= nav[:title]

            / If navigation item = external URL
            - if nav[:external_url]
              a{
                href="#{ nav[:external_url] }"
                title="#{ nav[:title] }"
                target="_blank"
                rel="noopener"
              }= nav[:title]

            / If navigation item contains more than one page
            - if nav[:pages] && nav[:pages].length > 1

              / Dropdown
              = partial "views/partials/btn",
                locals: { local_data: \
                  { type: "state",
                    page: "no-scroll", exclusive: true, secondary_target: "navbar",
                    icon: "chevron-down", icon_size: "xs",
                    text: nav[:title], text_size: "sm",
                    animation: "rotate",
                    aria_id: "activate-#{ @menu_desktop_id_base }",
                    aria_target_id: @menu_desktop_id_base }}

            / Menu (desktop)
            = partial "views/partials/menu",
              locals: { local_data: \
                        { id: @menu_desktop_id_base,
                          screen: "desktop",
                          nav_items: nav }}

      / Search
      .e-col-greyscale-0
        = partial "views/partials/btn",
          locals: { local_data: \
            { type: "state", size: "sm",
              page: "no-scroll", exclusive: true,
              icon: "android-search", icon_size: "sm",
              aria_id: "activate-search",
              aria_target_id: "search" }}
