- quoteData = local_data[:entry_data]

figure.quote
  blockquote.quote__text= quoteData[:text]

  figcaption
    p.quote__biog
      span= quoteData[:full_name]
      span= quoteData[:role]
      span= quoteData[:organisation]

    .quote__logo
      img{
        src="#{ quoteData[:logo][:url] }"
        alt="#{ quoteData[:logo][:alt] }"
      }
