<%
bgc = local_data[:bgc]
copySize = local_data[:copy_size]
formData = siteData(:newsletter_form)
modalID = local_data[:id]
%>

<h2 class="title-sm <%= "e-col-brand-green-1" if bgc == "light" %>">Join our newsletter</h2>

<%= partial "views/partials/btn",
  locals: { local_data: {
    type: "state",
    size: "md",
    style: "primary",
    label_on: "Close",
    label_off: "Subscribe",
    label_size: "md",
    page: "no-scroll",
    switch: true,
    aria_id: "activate-#{ modalID }",
    aria_target_id: modalID }} %>

<%= partial "views/partials/modal",
  locals: { local_data: {
    id: modalID,
    content: false,
    contentPadding: true,
    form: formData,
    size: "narrow" }} %>
