- copySize = local_data[:copy_size]

h2{
  class="title-#{ copySize == "md" ? "xl" : "lg" }"
  class="e-mgn-b-#{ copySize == "md" ? "md" : "sm" }"
} Join our newsletter
p.e-mgn-b-sm{ class="strap-#{ copySize }" }= siteData(:newsletter_text)
= partial "views/partials/btn",
  locals: { local_data: \
    { type: "state", switch: true,
      size: "md", style: "primary",
      label_on: "Subscribe now", label_off: "Close", label_size: "md",
      page: "no-scroll",
      aria_id: "activate-modal-monthly-newsletter-subscription",
      aria_target_id: "modal-monthly-newsletter-subscription",
      iframe: true }}
