- bgc = bgc

- twitter = siteData(:twitter)
- linkedin = siteData(:linkedin)
- facebook = siteData(:facebook)

h2.title-lg{
  class="#{ bgc == "light" ? "e-col-brand-green-2" : "e-col-greyscale-0" }"
} Follow us
.grid.grid--xxs.e-mgn-t-sm
  = partial "views/partials/social",
    locals: { local_data: \
      { icons: [twitter, linkedin, facebook] }}
