<%
bgc = bgc
twitter = siteData(:twitter)
linkedin = siteData(:linkedin)
facebook = siteData(:facebook)
titleClasses = "title-sm #{ bgc == "light" ? "e-col-brand-green-2" : "e-col-white-1" }"
%>

<h2 class="<%= titleClasses %>">Follow us</h2>
<div class="grid grid--xxs e-mgn-t-sm">
  <%= partial "views/partials/social",
    locals: { local_data: {
      icons: [
        twitter, linkedin, facebook
      ]}}%>
</div>
