- @urls   = local_data[:icons].reject(&:nil?)

- @urls.each do |url|

  - if url !~ /@/
    - @url = URI.parse(url).host
    - @domain = PublicSuffix.parse(@url)

  a.social{
    class="#{ 'grid__cell grid__cell--xxs' if @urls.length > 0 }"
    href="#{ url =~ /@/ ? 'mailto:' + url : url }"
    target="_blank"
  }
    = partial 'views/partials/icon',
      locals: { \
        icon: "#{ url =~ /@/ ? 'email' : 'social-' + @domain.sld }",
        color: 'orange',
        size: 'xs' }
