<%
urls = local_data[:icons].reject(&:nil?)
%>

<% urls.each do |url|
  origURL = url

  if url !~ /@/
    url = URI.parse(url).host
    domain = PublicSuffix.parse(url)
  end %>

  <a
    class="social <%= "grid__cell grid__cell--xxs" if urls.length > 0 %>"
    href="<%= url =~ /@/ ? "mailto:" + url : origURL %>"
    title="<%= url =~ /@/ ? "Email" : domain.sld.capitalize %>"
    target="_blank"
    rel="noreferrer noopener">
    <%= partial "views/partials/icon",
      locals: {
        icon: "#{ url =~ /@/ ? "email" : "social-" + domain.sld }",
        color: "orange",
        size: "xs" } %>
  </a>
<% end %>
