picture
  / Landscape
  source( media="(orientation: landscape)"
          sizes="100vw"
          srcset= "#{ image_url }?w=640 640w,
                   #{ image_url }?w=854 854w,
                   #{ image_url }?w=1280 1280w,
                   #{ image_url }?w=1920 1920w,
                   #{ image_url }?w=2560 2560w" )

  / Portrait
  source( media="(orientation: portrait)"
          sizes="100vw"
          srcset= "#{ image_url }?fit=fill&w=360&h=640&f=center 360w,
                   #{ image_url }?fit=fill&w=720&h=1280&f=center 720w,
                   #{ image_url }?fit=fill&w=1080&h=1440&f=center 1080w" )
  / Fallback
  img( srcset="#{ image_url }" alt="#{ image_description }" )
